In [1]:
2+3

5

In [2]:
4-5

-1

In [3]:
3/2

1.5

In [4]:
2*3

6

In [5]:
10%3

1

In [6]:
2**3 #2 power 3

8

In [7]:
#https://docs.python.org/2/tutorial/floatingpoint.html

In [8]:
#14) VARIABLE ASSIGNMENT IN PYTHON
a=10

In [9]:
a

10

In [10]:
a+a

20

In [11]:
a=a+a

In [12]:
type(a)

int

In [13]:
a="dinesh"

In [14]:
a

'dinesh'

In [15]:
type(a)

str

In [16]:
my_income=100
tax_rate=0.1
my_tax=my_income*tax_rate

In [17]:
my_tax

10.0

In [18]:
#15)introduction of STRINGS

In [19]:
"hello"

'hello'

In [20]:
'hello'

'hello'

In [21]:
print("hello")

hello

In [22]:
print("i'm human")

i'm human

In [23]:
print("this is \nDinesh") #escape sequence

this is
Dinesh

In [24]:
print("this is \tDaniel") #\t tab contains 4 spaces

this is 	Daniel

In [25]:
len('hello') #built in function

5

In [26]:
len('i am')

4

In [27]:
#16)string indexing and slicing string

In [28]:
my_string="abcdefghijk"

In [29]:
my_string[0]

'a'

In [30]:
my_string[3]

'd'

In [31]:
#string accpet both positive and negetive values

In [32]:
my_string[-1]

'k'

In [34]:
my_string[-3]

'i'

In [35]:
my_string[:3] #stop index 
#the index upto 3 not including 3 .... so abc ...012 not abcd(0123)

'abc'

In [36]:
my_string[4:] #start index

'efghijk'

In [37]:
my_string[4:10]

'efghij'

In [38]:
my_string[1:4]

'bcd'

In [39]:
mystr="abcdefgh"

In [40]:
mystr[::] #print full string

'abcdefgh'

In [41]:
mystr[1:7:2]

'bdf'

In [42]:
mystr[1::2]

'bdfh'

In [43]:
mystr[::-1]  #Reverse the STRING

'hgfedcba'

In [44]:
"Hello World"[8]

'r'

In [45]:
#17)string properties and Methods

In [46]:
name='Sam'

In [47]:
#name[0]='p' #shows error bcoz string are immutable

In [48]:
l_name=name[1:]

In [49]:
l_name

'am'

In [50]:
'p' + l_name #String Concat

'pam'

In [51]:
x='Hello world'

In [52]:
x= x + ' it is beaitiful Outside!'

In [53]:
x

'Hello world it is beaitiful Outside!'

In [54]:
letter ='z'
letter*10

'zzzzzzzzzz'

In [55]:
2+3

5

In [56]:
'2'+'3'

'23'

In [57]:
x='Dinesh'

In [58]:
x.upper()

'DINESH'

In [59]:
x.lower()

'dinesh'

In [60]:
x.split()

['Dinesh']

In [61]:
z='hi this is string'
z.split()

['hi', 'this', 'is', 'string']

In [62]:
z.split('i')

['h', ' th', 's ', 's str', 'ng']

In [63]:
#19) String formatiing and printing

In [64]:
#String interpellation 2 methon
# .format method
# f.string

In [65]:
#. format method
print("this is Dinesh {}".format('INESRTED'))

this is Dinesh INESRTED

In [66]:
print("the {} {} {}".format('fox','brown','quick'))

the fox brown quick

In [67]:
print("the {2} {1} {0}".format('fox','brown','quick')) #we also use index

the quick brown fox

In [68]:
print("the {0} {0} {0}".format('fox','brown','quick'))

the fox fox fox

In [69]:
#we also assign variable 
print("the {f} {b} {q}".format(f='fox',b='brown',q='quick'))

the fox brown quick

In [70]:
#Floating formatting in .format method
#{value:width.precision}

result=100/777

In [71]:
result

0.1287001287001287

In [72]:
print("the restult was {}".format(result))

the restult was 0.1287001287001287

In [73]:
print("the restult was {r}".format(r=result))

the restult was 0.1287001287001287

In [74]:
print("the restult was {r:10.5f}".format(r=result))

the restult was    0.12870

In [75]:
print("the restult was {r:1.2f}".format(r=result))

the restult was 0.13

In [76]:
print("the restult was {r:3.2f}".format(r=result))

the restult was 0.13

In [77]:
#f.String method

In [78]:
name='jose'
#print("my name is {}".format(name)) #instead of 
print(f'hello, my name is {name}')

hello, my name is jose

In [79]:
name =' Dinesh'
age = 20
print(f'hello, my name is {name},and i m {age} years old')

hello, my name is  Dinesh,and i m 20 years old

In [80]:
# https://pyformat.info/  LEARN more

In [81]:
#21) LISTS in python

In [82]:
my_list=[1,2,3]

In [83]:
my_list=['Dinesh',333,33.3]
len(my_list)

3

In [84]:
mylist=['one','two','three']

In [85]:
mylist[0] #we can use to access Index

'one'

In [86]:
mylist[1:]

['two', 'three']

In [87]:
#Concatdination
another_list=['four','five']
newlist=mylist+another_list
newlist

['one', 'two', 'three', 'four', 'five']

In [88]:
newlist[0]='ONE ALL CAPS'
newlist

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [91]:
# add the elements to list
newlist.append('six')
newlist

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [92]:
#remove the element from the list
pop_ele=newlist.pop() 
pop_ele

'six'

In [93]:
newlist

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [94]:
newlist.pop(0) #we'll pop using index also....

'ONE ALL CAPS'

In [95]:
#sort the list
newlist=['a','c','d','i','s']
sortedlist=newlist.sort() #it's return nothing
newlist

['a', 'c', 'd', 'i', 's']

In [96]:
type(sortedlist)

NoneType

In [97]:
numlist=[4,3,2,1]
numlist.sort()
numlist

[1, 2, 3, 4]

In [98]:
#reverse the LIST
numlist.reverse() #it's also return nothing just like sort() method
numlist

[4, 3, 2, 1]

In [99]:
#23)Dictonaries in python

In [100]:
my_dict={'key1':'value1','key2':'value2'}

In [101]:
my_dict['key1']

'value1'

In [102]:
price_lookup={'apple':2.99,'orange':30,'banana':20}
price_lookup['apple']

2.99

In [103]:
#dictonarie convinient to all
d={'k1':123,'k2':[1,2,3],'k3':{'insidekey':100}}
d['k1']

123

In [104]:
d['k2']

[1, 2, 3]

In [105]:
#then access the inside list elements
d['k2'][1] # ans2

2

In [106]:
d['k3']

{'insidekey': 100}

In [107]:
#then access inside dict values
d['k3']['insidekey']

100

In [108]:
newdict={'k1':['a','b','c']}
newdict

{'k1': ['a', 'b', 'c']}

In [109]:
newdict['k1'][2].upper()

'C'

In [89]:
d={'k1':100,'k2':200}

In [90]:
#want to add k3 
d['k3']=300
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [91]:
#reassign
d['k1']='new values'
d

{'k1': 'new values', 'k2': 200, 'k3': 300}

In [92]:
#want to see all keys only
d={'k1':100,'k2':200,'k3':300}
d.keys() #keys should be string

dict_keys(['k1', 'k2', 'k3'])

In [93]:
#want to see values
d.values()

dict_values([100, 200, 300])

In [94]:
#want to see to both
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [95]:
#25) Tuples in python

In [96]:
t=(1,2,3)
type(t)

tuple

In [97]:
t=('one',2) #flexible like list
t[0]

'one'

In [98]:
t[-1]

2

In [99]:
#tuples has 2 methods 1)count 2)index
t=('a','a','b')

In [100]:
t.index('a') #index tells 'a' first apperence of 'a'th index

0

In [101]:
t.count('a') #tells how many 'a' character in the tuple

2

In [102]:
#list 
newlist=[1,2,3]
newlist[0]='one'
newlist

['one', 2, 3]

In [103]:
t=(1,2,3)
#t[0]='one' reassignment not possible in tuple

In [104]:
#SETS in python

In [105]:
myset=set()
myset

set()

In [106]:
myset.add(1)
myset

{1}

In [107]:
myset.add(2)
myset

{1, 2}

In [108]:
myset.add(2) #sets can not accept repeated values
myset

{1, 2}

In [109]:
mylist=[1,1,1,1,1,1,1,2,2,2,2,2,3,3,3,3,3,3,3,4,4,4,4,4]
set(mylist) #typecasting to sets

{1, 2, 3, 4}

In [110]:
#27)boolean in PYTHON

In [111]:
True

True

In [112]:
False

False

In [113]:
type(True)

bool

In [114]:
1>2

False

In [115]:
1==1

True

In [116]:
b=None
type(b)

NoneType

In [117]:
#I/O with basic files in python

In [118]:
 #we can only create the file using this cmd in jupyter notebook

In [119]:
%%writefile myfile.txt  
hello,i m number one
i m number two
i m number three

Overwriting myfile.txt

In [120]:
myfile=open('myfile.txt') #open then file

In [121]:
myfile=open('abcd.txt') #error 2 its show wrong file or wrong path

FileNotFoundError: [Errno 2] No such file or directory: 'abcd.txt'

In [122]:
pwd #print working directory

'c:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook'

In [123]:
myfile.read() #read the file

'hello,i m number one\ni m number two\ni m number three\n'

In [145]:
myfile.read() #again we read cursor goes to last so, its show ''

''

In [146]:
myfile.seek(0) #using this cmd cursor goes starting character of the file

0

In [147]:
content =myfile.read() #read the file as a list

In [148]:
content

'hello,i m number one\ni m number two\ni m number three\n'

In [124]:
myfile.seek(0)

0

In [125]:
myfile.readlines()

['hello,i m number one\n', 'i m number two\n', 'i m number three\n']

In [126]:
myfile.close() #close the file

In [127]:
with open('c:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\new.txt') as file:
    content=file.read()

In [128]:
content

'hii i m nova\ni m daniel\ni m dinesh'

In [129]:
#file location on computer
with open('c:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\new.txt', mode='r') as f: 
    content=f.read()

In [130]:
content

'hii i m nova\ni m daniel\ni m dinesh'

In [131]:
%%writefile 'txtfile.txt'
Hiii i m Dinesh
I m 333
i m 444
i m 555

Overwriting txtfile.txt

In [132]:
with open('txtfile.txt',mode='r') as f:
    print(f.read())

Hiii i m Dinesh
I m 333
i m 444
i m 555

In [133]:
#Append in file
with open('txtfile.txt',mode='a') as f:
    f.write('yoo,i m 666!')

In [159]:
with open('txtfile.txt',mode='r') as f:
    print(f.read())

Hiii i m Dinesh
I m 333
i m 444
i m 555
yoo,i m 666!

In [160]:
# Write 'W' mode in file

In [161]:
with open('abcdef.txt',mode='w') as f: #its show to no error.. 
    f.write(" I created this file")

In [162]:
# W mode overwrite the file or if the file doesn't exist it actully create it.

In [163]:
with open('abcdef.txt',mode='r') as f:
    print(f.read())

 I created this file

In [164]:
# 30) ASSESSMENT

In [165]:
#1
(60+(10**2)/4*7)-134.75

100.25

In [166]:
#2
a=3+1.5+4
type(a)

float

In [167]:
4*(6+5)

44

In [168]:
4*6+5

29

In [169]:
4+6*5

34

In [170]:
#3 square and sqareroot
#squareroot
100**0.5

10.0

In [171]:
#square
10**2

100

In [172]:
#string assessment
#4
s='hello'
s[1]

'e'

In [173]:
#5 reverse using slice
s[::-1]

'olleh'

In [174]:
#6 print 'o'
s[4]

'o'

In [175]:
s[-1]

'o'

In [176]:
#lists
#1)
# 2 ways to build a list

#method 1
a=[0,0,0]
a

[0, 0, 0]

In [177]:
#method 2
[0]*3

[0, 0, 0]

In [179]:
#2
list3=[1,2,[3,4,'hello']]

In [180]:
#3
list3[2][2]='Good bye'
list3

[1, 2, [3, 4, 'Good bye']]

In [181]:
#4
list4=[5,3,4,6,1]
#method 1
list4.sort()
list4

[1, 3, 4, 5, 6]

In [182]:
#methods 2
sorted(list4)

[1, 3, 4, 5, 6]

In [183]:
# Dictonaries in Python assessment
#1
d={'k1':'hello'}
d['k1']

'hello'

In [184]:
#2
d = {'k1':{'k2':'hello'}}
d['k1']['k2']

'hello'

In [185]:
#3
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [186]:
d['k1'][0]['nest_key'][1][0]

'hello'

In [187]:
#4
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [188]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [189]:
#SETS in python assessment
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [190]:
#Boolean Assessment 
#1
2>3

False

In [191]:
#2
3<=2

False

In [192]:
#3
3==2.0

False

In [193]:
#4
3==3.0

True

In [194]:
#5
4**0.5!=2

False

In [195]:
#6)two nested list
l1=[1,2,[3,4]]
l2=[1,2,{'k1':4}]

In [196]:
l1[2][0]>=l2[2]['k1']

False

In [197]:
#section 4
#32)comparison operator
2==2

True

In [198]:
2==1

False

In [199]:
'hello'=='bye'

False

In [200]:
'Bye'=='bye'

False

In [201]:
'2'==2

False

In [202]:
2.0==2

True

In [203]:
3!=3

False

In [204]:
4!=5

True

In [205]:
2>1

True

In [206]:
1>2

False

In [207]:
2>=2

True

In [208]:
4<=1

False

In [209]:
#33)Logical operator in PYTHON  (and,or,not)
1<2<3

True

In [210]:
#AND opeartor
1<2 and 2<3

True

In [211]:
1<2 and 2>3

False

In [212]:
'h'=='h' and 2==2

True

In [213]:
#OR opeartor
1==1 or 2==2

True

In [214]:
100==1 or 2==2

True

In [215]:
100 == 1 or 2==20

False

In [216]:
#NOT opeartor
1==1

True

In [217]:
not(1==1)

False

In [218]:
not 400>5000

True

In [219]:
#34) if,elif,else
if True:
    print("hello")

hello

In [220]:
if 3>2:
   print("hello")

hello

In [221]:
hungry = True
if hungry:
    print("feed me")

feed me

In [222]:
hungry = False
if hungry:
    print("feed me")
else:
    print(' i m not hungry')

 i m not hungry

In [223]:
#multiple branches in IF,ELIF,ELSE   Intentaion is IMPORTANT ..intenttation makes code readable and understand
loc='bank'
if loc=='Auto shop':
    print('care are cool')
elif loc=='bank':
    print('monday is cool')
else:
    print('i do not know much')

monday is cool

In [224]:
name='sammy'
if name=='johnny':
    print('hello johnny')
elif name=='sammy':
    print('hello sammy')
elif name=='Daniel':
    print("hello daniel")
else:
    print("i dont know")

hello sammy

In [225]:
#For loops
my_list = [1,2,3,4,5,6,7,8,9,10]
for num in my_list: #num --> we can name whatever we want
    print(num)

1
2
3
4
5
6
7
8
9
10

In [226]:
for num in my_list:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [227]:
for num in my_list: 
    if num % 2 == 0:
        print(num)
    else:
        print(f'odd num:{num}')

odd num:1
2
odd num:3
4
odd num:5
6
odd num:7
8
odd num:9
10

In [228]:
#sum of list
list_sum=0
for human in my_list:
    list_sum = list_sum + human
print(list_sum)

55

In [229]:
#note the indentation
list_sum=0
for human in my_list:
    list_sum = list_sum + human
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [230]:
#work with string
mystr='hello world'
for letter in mystr:
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [231]:
for letter in 'hello world':
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [232]:
for _ in 'hello world':
    print('cool!')

cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!

In [233]:
#work with tuple
tup=(1,2,3)
for num in tup:
    print(num)

1
2
3

In [234]:
#list of tuple pairs
mylist=[(1,2),(3,4),(5,6),(7,8)]
for tup in mylist:
    print(tup)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [235]:
#Tuple unpacking
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [236]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in mylist:
    print(b)

2
5
8

In [237]:
#work with Dictionary
d={'k1':1,'k2':2,'k3':3}
for fun in d:
    print(fun)

k1
k2
k3

In [238]:
for fun in d.items():
    print(fun)

('k1', 1)
('k2', 2)
('k3', 3)

In [239]:
for value in d.values():
    print(value)

1
2
3

In [240]:
for fun in d.keys():
    print(fun)

k1
k2
k3

In [241]:
#36)while loop
x=0
while x<5:
    print(f'the current value of x:{x}')
    x=x+1

the current value of x:0
the current value of x:1
the current value of x:2
the current value of x:3
the current value of x:4

In [242]:
x=0
while x<5:
    print(f'the current value of x:{x}')
    x=x+1
else:
    print('the x values greather than 5')

the current value of x:0
the current value of x:1
the current value of x:2
the current value of x:3
the current value of x:4
the x values greather than 5

In [243]:
#break , Continue , pass
x=[1,2,3]
for item in x:
    # comment

SyntaxError: unexpected EOF while parsing (<ipython-input-243-d22f7c39ae89>, line 4)

In [244]:
#if we rectify the error we'll use pass keyword
x=[1,2,3]
for item in x:
    # comment
    pass
print('end of script')

end of script

In [245]:
#continue : ignore the iteration
mystring='sammy'
for mystr in mystring:
    if mystr == 'a':
        continue
    print(mystr)

s
m
m
y

In [246]:
#break : exit from the loop
mystring='sammy'
for mystr in mystring:
    if mystr == 'a':
        break
    print(mystr)

s

In [247]:
x=0
while x < 5:
    if x == 2:
        break
    print(x)
    x=x+1

0
1

In [248]:
#37) useful operator in python
mylist=[1,2,3]
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [249]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [250]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [251]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [252]:
#enumerate or enum
index_count=0
for item in 'abcde':
    print('the index {} the letter {}'.format(index_count,item))
    index_count+=1

the index 0 the letter a
the index 1 the letter b
the index 2 the letter c
the index 3 the letter d
the index 4 the letter e

In [253]:
index_count=0
word='abcde'
for letter in word:
    print(word[index_count])
    index_count+=1

a
b
c
d
e

In [254]:
#enum
word='abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [255]:
for index , values in enumerate(word):
    print(index)
    print(values)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [256]:
# zip function
mylist1=[1,2,3]
mylist2=['a','b','c']
for i in zip(mylist1,mylist2):
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [257]:
mylist1=[1,2,3]
mylist2=['a','b','c']
mylist3=[100,200,300]
for i in zip(mylist1,mylist2,mylist3):
    print(i)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [258]:
mylist1=[1,2,3,4,5,6] # it won't work uneven list...
mylist2=['a','b','c']
mylist3=[100,200,300]
for i in zip(mylist1,mylist2,mylist3):
    print(i)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [259]:
# in opeartor
'x' in [1,2,3]

False

In [260]:
'x' in ['x','y','z']

True

In [261]:
2 in [1,2,3]

True

In [262]:
'a' in ' a world'

True

In [263]:
'mykey' in {'mykey':345}

True

In [264]:
d={'mykey':345}
345 in d.items()

False

In [265]:
# mathametical function [min , max]
mylist=[1,2,3,4,5,6]
min(mylist)

1

In [266]:
max(mylist)

6

In [267]:
#Random library
from random import shuffle #it's randomly shuffle the list
mylist=[1,2,3,4,5,6,7,8,9,10]
shuffle(mylist) #shuffle function won't return anything
mylist

[10, 1, 4, 9, 3, 5, 2, 6, 8, 7]

In [268]:
# randint
from random import randint
randint(0,100)

81

In [269]:
mynum=randint(1,10)
mynum

10

In [270]:
# input function 
input('enter the number')

enter the number

''

In [271]:
result=input('enter your name?')

enter your name?

In [272]:
result

''

In [273]:
result=input('fav number:')
type(result)  # input function return string

fav number:

str

In [274]:
float(result) #typecasting

ValueError: could not convert string to float:

In [275]:
int(result) #typecasting

ValueError: invalid literal for int() with base 10: ''

In [276]:
result=int(input('fav num'))
type(result)

fav num&

ValueError: invalid literal for int() with base 10: '&'

In [277]:
#38)List comprehension in Python
mystr=['hellooo']
mylst=[]
for x in mystr:
    mylst.append(x)
mylst

['hellooo']

In [278]:
#using list comprehension
myl=[x for x in mystr]

In [279]:
myl

['hellooo']

In [280]:
mylist=[x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [281]:
mylist=[x for x in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [282]:
# square the list
mylist=[x**2 for x in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [283]:
# TO grab a EVEN
mylist=[x for x in range(0,11) if x%2==0]
mylist

[0, 2, 4, 6, 8, 10]

In [284]:
#celsius to farenheit
celsius=[0,10,20,34.5]
farenheit=[(9/5* x+32) for x in celsius]
farenheit

[32.0, 50.0, 68.0, 94.1]

In [285]:
#without comprehension
celsius=[0,10,20,34.5]
farenheit=[]
for x in celsius:
    farenheit.append(9/5 * x +32)
farenheit

[32.0, 50.0, 68.0, 94.1]

In [286]:
#using IF_ELSE inside the comprehension
result=[x if x%2==0 else 'ODD' for x in range(0,11)]
result

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [287]:
#nested loop
mylist=[]
for x in [1,2,3]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [288]:
mylist

[100, 200, 300, 200, 400, 600, 300, 600, 900]

In [289]:
#using nested loop in list comprehensive
result=[x*y for x in [1,2,3] for y in [100,200,300]]
result

[100, 200, 300, 200, 400, 600, 300, 600, 900]

In [290]:
# 39) ASSESSMENT TEST
# 1)
st=' Sam Print only the words that start with s in this sentence'
st1=st.split()
for x in st1:
    if x[0]=='s':
        print(x)

start
s
sentence

In [291]:
#one type
st='Sam Print only the words that start with s in this sentence'
for x in st.split():
    if x[0].lower()=='s':
        print(x)

Sam
start
s
sentence

In [292]:
#second type
st='Sam Print only the words that start with s in this sentence'
for x in st.split():
    if x[0]=='s' or x[0]=='S':
        print(x)

Sam
start
s
sentence

In [293]:
st1

['Sam',
 'Print',
 'only',
 'the',
 'words',
 'that',
 'start',
 'with',
 's',
 'in',
 'this',
 'sentence']

In [294]:
type(st1)

list

In [295]:
#2
for x in range(0,10,2):
        print(x)

0
2
4
6
8

In [296]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [299]:
#3
myresult=[x for x in range(1,50) if x%3==0]
myresult

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [300]:
#4
st = 'Print every word in this sentence that has an even number of letters'
st1=st.split()
for x in st1:
    if len(x)%2==0:
        print(f'even words:{x}')

even words:word
even words:in
even words:this
even words:sentence
even words:that
even words:an
even words:even
even words:number
even words:of

In [297]:
#5
for x in range(1,101):
    if x%3==0 and x%5==0:
        print('FizzBuzz')
    elif x%3==0:
        print('Fizz')
    elif x%5==0:
        print('Buzz')
    else:
        print(x)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [298]:
#6
st = 'Create a list of the first letters of every word in this string'
st1=st.split()
result=[x[0] for x in st1]
result

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [299]:
#SECTION-6 
#43)def keyword
def name_of_function(): #snake case
    print('hello')
name_of_function()

hello

In [300]:
#function with argument
def name_of_function(name): #snake case
    print('hello '+ name)
name_of_function('Dinesh')

hello Dinesh

In [301]:
#return keyword
def add_function(num1,num2):
    return num1+num2
add_function(1,2)

3

In [302]:
#44 Basic Function
def say_hello():
    print('hello')

In [303]:
say_hello #w/o parathensis

In [304]:
say_hello()

hello

In [305]:
#with parameter
def say_hello(name):
    print('hello '+name)
#say_hello() #w/o passing a arg ..its shows error

In [306]:
#to fix
#one we provide a value
def say_hello(name):
    print('hello '+name)
say_hello('Dinesh')

hello Dinesh

In [307]:
#or we set defult value in function
def say_hello(name='Default'):
    print('hello '+name)
say_hello()

hello Default

In [308]:
#diff b/w return and print_fun
def return_function(num1,num2):
    return num1+num2
result=return_function(10,20)

In [309]:
result

30

In [310]:
#print_function
def print_function(num1,num2):
    print(num1+num2)

In [311]:
result=print_function(10,20)

30

In [312]:
result #None type

In [313]:
def common_fun(num1,num2):
    print(num1+num2)
    return num1+num2

In [314]:
result=common_fun(10,20)

30

In [315]:
result

30

In [316]:
#
def sum_num(a,b):
    print(a+b)
sum_num('10','20')

1020

In [317]:
#44) logic with function
20%2==0

True

In [318]:
21%2==0

False

In [319]:
def even_number(num):
    res=num%2==0
    return res
even_number(10)

True

In [320]:
even_number(9)

False

In [321]:
#return true or false checking the lisk
def check_even(num_list):
    for i in num_list:
        if i%2==0:
            return True
        else:
            pass #don't do anything
check_even([1,2,3,4])

True

In [322]:
check_even([1,1,1,1])

In [323]:
#if you want return false
def check_even(num_list):
    for i in num_list:
        if i%2==0:
            return True
        else:
            #return False # Wrong !!!!
            pass
    return False
check_even([1,1,1,1])

False

In [324]:
 check_even([1,2,4,6])

True

In [325]:
#return all even number from the list
even_list=[]
def even_check(num_list):
    for i in num_list:
        if i%2==0:
            even_list.append(i)
        else:
            pass
    return even_list
even_check([10,1,20,34,55,88])

[10, 20, 34, 88]

In [326]:
even_check([3,4,5,6,7,8])

[10, 20, 34, 88, 4, 6, 8]

In [327]:
#Tuple unpacking with pyhon Function
stock_price=[('emily',100),('ross',200),('jose',500)]
for item in stock_price:
    print(item)

('emily', 100)
('ross', 200)
('jose', 500)

In [328]:
for a,b in stock_price:
    print(a)

emily
ross
jose

In [329]:
for a,b in stock_price:
    print(b+0.1*b)

110.0
220.0
550.0

In [330]:
#example of unpacking with fun
work_hours=[('anne',100),('lesa',300),('mona',500)]
def emp_check(work_hours):
    current_hr=0
    employee_of_year=''
    for emp,hr in work_hours:
        if hr>current_hr:
            current_hr=hr
            employee_of_year=emp
        else:
            pass
    return(employee_of_year,current_hr)

In [331]:
emp_check(work_hours)

('mona', 500)

In [332]:
res=emp_check(work_hours)

In [333]:
res

('mona', 500)

In [334]:
name,hr=emp_check(work_hours)

In [335]:
name

'mona'

In [336]:
hr

500

In [337]:
name,hr,location=emp_check(work_hours)

ValueError: not enough values to unpack (expected 3, got 2)

In [338]:
item=emp_check(work_hours)
item

('mona', 500)

In [339]:
#47)interaction with py function
example=[1,2,3,4,5,6,7]
from random import shuffle
shuffle(example)
example

[7, 2, 5, 1, 6, 3, 4]

In [340]:
result=shuffle(example)

In [341]:
result #shuffle wont return anything

In [342]:
#three cup mante game
mylist=['','O','']
#shuffling the list
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [343]:
#user choice
def user_choice():
    guess=''
    while guess not in ['0','1','2']:
          guess=input('enter the num 0,1 or 2 :')
    return int(guess)

In [344]:
#check guess
def check_guess(myindex,guess):
    if myindex[guess]=='O':
        print('Correct')
    else:
        print('Wrong')
        print(myindex)

In [345]:
#INITIAL LIST
mylist = ['','','O']

#shuffle list
myindex=shuffle_list(mylist)

#userchoice
choice=user_choice()

#check the guess
check_guess(myindex,choice)

enter the num 0,1 or 2 :4
enter the num 0,1 or 2 :1
Wrong
['', '', 'O']

In [346]:
def myfunc(name):
    print('Hello {}'.format(name))

myfunc('Name')

Hello Name

In [347]:
#49)*args and **kwargs
def myfunc(a,b):
    return sum((a,b))*0.05

In [348]:
myfunc(40,60)

5.0

In [349]:
def myfunc(a,b,c=0,d=0,e=0):
    return sum((a,b,c,d,e))*0.05

In [350]:
myfunc(40,60,100,100)

15.0

In [351]:
myfunc(40,60,100,100,3)

15.15

In [352]:
myfunc(40,60,100,100,3,4)

TypeError: myfunc() takes from 2 to 5 positional arguments but 6 were given

In [353]:
#in that situation we need *args
def myfunc(*args):
    return sum(args)*0.05 #in takes n NO.of arguments

In [358]:
def myfunc(*spam):
    return sum(spam)*0.05 


#we named whatever we want
#but *args is recommanded
# *args returns tuple
#arg is arbitray no.of arguments

In [359]:
myfunc(10,10)

1.0

In [360]:
# **kwargs (key word argument)
def myfunc( **kwargs):
    if 'fruit' in kwargs:
        print('my fruit of choice us {}'.format(kwargs['fruit']))
    else:
        print('i did not find any fruits')

In [361]:
myfunc(fruit='apple',veggie='lettuce')

my fruit of choice us apple

In [362]:
# NOTE : *args returns TUPLE 
  # **kwargs returns Dictionary

In [363]:
def myfunc(*args,**kwargs):
    print('i would like {} {}'.format(args[0],kwargs['food']))

In [364]:
myfunc(10,20,30,fruit='orage',food='eggs',animal='dogs')

i would like 10 eggs

In [365]:
myfunc(10,20,30,fruit='orage',food='eggs',animal='dogs',10) #we should give by order

SyntaxError: positional argument follows keyword argument (<ipython-input-365-f803551dbff9>, line 1)

In [366]:
def myfunc(**jelly):
    print(jelly) # we named whatever we want but **kwargs is recommanded

In [367]:
myfunc(dinesh='daniel',animal='dog')

{'dinesh': 'daniel', 'animal': 'dog'}

In [368]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [369]:
mystr='dinesh'

In [370]:
mystr

'dinesh'

In [371]:
mystr[0].upper()

'D'

In [372]:
def myfunc(mystr):
    mylist=[]
    for i in range(len(mystr)):
        if i%2==0:
            mylist.append(mystr[i].upper())
        else:
            mylist.append(mystr[i].lower())
    return ''.join(mylist)

In [373]:
myfunc('Dinesh')

'DiNeSh'

In [374]:
#Function Practice
#1)
def lesser_of_two_evens(a,b):
    if (a%2==0) and (b%2==0):
        return min(a,b)
    else:
        return max(a,b)

In [375]:
lesser_of_two_evens(2,4)

2

In [376]:
lesser_of_two_evens(2,5)

5

In [377]:
#2)Animal cracker
def animal_cracker(mystr):
    mylist=[]
    
    for i in range(len(mystr)):
        if mystr[i] ==' ':
            if mystr[0]==mystr[i+1]:
                return True
            else:
                return False 
        else:
            pass
    return False

In [378]:
def animal_cracker(text):
    wordlist=text.split()
    first=wordlist[0]
    second=wordlist[1]
    return first[0]==second[0]

In [379]:
#or
def animal_cracker(text):
    wordlist=text.split()
    return wordlist[0][0]==wordlist[1][0]

In [380]:
# incase one word starting letter is small and second word starting letter is upper
def animal_cracker(text):
    wordlist=text.lower().split()
    return wordlist[0][0]==wordlist[1][0]

In [381]:
animal_cracker('Levelheaded Llama')

True

In [382]:
animal_cracker('Levelheaded llama')

True

In [383]:
animal_cracker('Crazy Kangaroo')

False

In [384]:
animal_cracker('dinesh s')

False

In [385]:
#3)makes Twenty
def makes_twenty(a,b):
    if a+b==20 or a==20 or b==20:
        return True
    else:
        return False

In [386]:
#or
def makes_twenty(a,b):
    return (a+b)==20 or a==20 or b==20

In [387]:
makes_twenty(10,20)

True

In [388]:
makes_twenty(12,8)

True

In [389]:
makes_twenty(2,3)

False

In [390]:
#LEVEL 1 PROBLEM
   #OLD MACDONALD
def old_macdonald(text):
    mystr=[]
    for i in text:
        mystr.append(i)
    mystr[0]=mystr[0].upper()
    mystr[3]=mystr[3].upper()
    return ''.join(mystr)

In [391]:
def old_macdonald(text):
    first_letter=text[0]
    inbetween=text[1:3]
    fourth=text[3]
    rest_letter=text[4:]
    return first_letter.upper() + inbetween + fourth.upper()+rest_letter

In [392]:
#0r
def old_macdonald(text):
    first_half=text[0:3]
    second_half=text[3:]
    return first_half.capitalize()+ second_half.capitalize()

In [393]:
old_macdonald('macdonald')

'MacDonald'

In [394]:
mylist=['dinesh']

In [395]:
#new function
'dinesh'.capitalize()

'Dinesh'

In [396]:
# 2) MASTER YODA problem

In [397]:
def master_yoda(text):
    mylist=text.split()
    reverse_the_list=mylist[::-1]
    return ' '.join(reverse_the_list)

In [398]:
master_yoda('here i am')

'am i here'

In [399]:
# 3 ALMOST THERE

In [400]:
def almost_there(n):
     return (abs(100-n)<=10) or (abs(200-n)<=10)

In [401]:
almost_there(90)

True

In [402]:
almost_there(150)

False

In [403]:
#absolute function
abs(-100)

100

In [404]:
#LEVEL 2 PROBLEM
#FIND 33

In [405]:
def has_33(nums):
    for i in range(0, len(nums)-1):
      
        # nicer looking alternative in commented code
        if nums[i] == 3 and nums[i+1] == 3:
    
        #if nums[i:i+2] == [3,3]:
            return True  
    
    return False

In [406]:
has_33([1,3,3])

True

In [407]:
has_33([1,3,1,3])

False

In [408]:
#2 PAPER DOLL problems
def paper_doll(text):
    mystr=''
    for char in text:
        mystr+=char*3
    return mystr

In [409]:
paper_doll('hello')

'hhheeellllllooo'

In [410]:
#3
# BLACK JACK PROBLEM
def blackjack(a,b,c):
    
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c))-10 <=21 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [411]:
blackjack(9,9,9)

'BUST'

In [412]:
blackjack(9,9,11)

19

In [413]:
blackjack(5,6,7)

18

In [414]:
#3 summer_69 problem
def summer_69(arr):
    add=True
    total=0
    for num in arr:
        while add:
            if num!=6:
                total+=num
                break
            else:
                add=False
                break
        while not add:
            if num!=9:
                break
            else:
                add=True
                break
    return total

In [415]:
summer_69([1,3,5])

9

In [416]:
summer_69([4,5,6,7,8,9])

9

In [417]:
summer_69([2,1,6,9,11])

14

In [418]:
summer_69([2,1,6,11])

3

In [419]:
#CHALLANGE PROBLEMS
#1

In [420]:
def spy_games(mylist):
    spylist=[0,0,7,'x']
    for num in mylist:
        if num==spylist[0]:
            spylist.pop(0)
    return len(spylist)==1

In [421]:
spy_games([1,2,4,0,0,7,5])

True

In [422]:
spy_games([1,0,2,4,0,5,7])

True

In [423]:
spy_games([1,7,2,0,4,5,0])

False

In [424]:
#2)prime number count

In [425]:
def prime_counter(n):
    count=0
    for i in range(2,n):
        flag=1
        for j in range(2,i):
            if i%j==0:
                flag=0
                break
        if flag==1:
            count+=1
    return count

In [426]:
prime_counter(100)

25

In [427]:
#or
def prime_counter(num):
    #given num 1 or 0 return True
    if num<2:
        return 0
    #to stores prime numbers
    primes=[2]
    #number greater than 2
    x=3
    while x<=num:
        for y in range(3,x,2):
            if x%y==0:
                x+=2
                break
        else:
            primes.append(x)
            x+=2
    
    print(primes)
    return len(primes)

In [428]:
prime_counter(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [429]:
#fun problem
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [430]:
print_big('b')

****
*   *
****
*   *
****

In [431]:
print_big('e')

*****
*
*****
*
*****

In [432]:
#56) LAMBDA expression, MAP func and Filter Func

In [433]:
#map Func

   #Normal Func

def square(n):
    res=n**2
    return res

In [434]:
square(5)

25

In [435]:
# we want find List of square
#map Func
mylist=[1,2,3,4,5]

In [436]:
for item in map(square,mylist):
    print(item)

1
4
9
16
25

In [437]:
list(map(square,mylist))

[1, 4, 9, 16, 25]

In [438]:
#using list of string in Map
def slicer(mystr):
    if len(mystr)%2==0:
        return 'EVEN'
    else:
        return mystr[0]

In [439]:
my_str=['andy','eve','sally']

In [440]:
#MAP func
list(map(slicer,my_str))

['EVEN', 'e', 's']

In [441]:
# we don't need the specify slicer()
#we have to pass function as a Arugument

In [442]:
#FILTER Function

In [443]:
#finding oDD and EVEN in filter func
def check_even(mylist):
    return mylist%2==0

In [444]:
mylist=[1,2,3,4,5,6]

In [445]:
list(filter(check_even,mylist))

[2, 4, 6]

In [446]:
#or we use loop
for i in filter(check_even,mylist):
    print(i)

2
4
6

In [447]:
#lambda Expression (Anonymous function)

In [448]:
# we dont want to declare def keyword

In [449]:
def square(n):
    res=n**2
    return res

In [450]:
square(25)

625

In [451]:
# Changing above program into Lambda Expressions

In [452]:
def square(n):return n**2  #it's also allowed in python

In [453]:
square(5)

25

In [454]:
square=lambda n:n**2

In [455]:
square(5)

25

In [456]:
# applying lambda expression in map function

#find square for list
mylist=[1,2,3,4,5,6,7]
list(map(lambda mylist:mylist**2,mylist))

[1, 4, 9, 16, 25, 36, 49]

In [457]:
#using Lambda expression in filter Function

#find even
nums=[1,2,3,4,5,6,7,8,9]
list(filter(lambda n:n%2==0,nums))

[2, 4, 6, 8]

In [458]:
# Reverse the list of string program

mystr=['Andy','eve','Sally']

In [459]:
list(map(lambda mystr:mystr[::-1],mystr))

['ydnA', 'eve', 'yllaS']

In [460]:
""""
I think yes you got the picture pretty much. both Map and filter are ways of applying function to iterables. 

in Map you can use multiple iterables

 ####definition : map(function_object, iterable1, iterable2,...)####

whereas in filter only one iterable can be used

####definition : filter(function_object, iterable)####


list_a = [1, 2, 3]
list_b = [10, 20, 30]

map(lambda x, y: x + y, list_a, list_b) # Output: [11, 22, 33]
"""

'"\nI think yes you got the picture pretty much. both Map and filter are ways of applying function to iterables. \n\nin Map you can use multiple iterables\n\n ####definition : map(function_object, iterable1, iterable2,...)####\n\nwhereas in filter only one iterable can be used\n\n####definition : filter(function_object, iterable)####\n\n\nlist_a = [1, 2, 3]\nlist_b = [10, 20, 30]\n\nmap(lambda x, y: x + y, list_a, list_b) # Output: [11, 22, 33]\n'

In [461]:
#56)NESTED STATEMENT and scope

In [462]:
x=25

def printer():
    x=5
    print(x)
    return x

In [463]:
print(x)

25

In [464]:
print(printer())

5
5

In [465]:
#LEGB RULES --> Local enclosing function local's global and built in

In [466]:
#global
name='this is a global string'
def greet():
    #local
    name='sammy'
    def hello():
        print('hello '+ name)
    
    hello()

In [467]:
greet()

hello sammy

In [468]:
#global
name='this is a global string'
def greet():
    #local
    #name='sammy'
    def hello():
        print('hello '+ name)
    
    hello()

In [469]:
greet()

hello this is a global string

In [470]:
#first check local and the check global

In [471]:
#global
name='this is a global string'
def greet():
    #local
    name='sammy'
    def hello():
        name='daniel'
        print('hello '+ name)
    
    hello()

In [472]:
greet()

hello daniel

In [473]:
#another example
x=50
def func(x):
    print(f'x is {x}')
          
    #Local reassignment
    x=200
    print(f'I Just locally changed X to {x}')

In [474]:
func(x)

x is 50
I Just locally changed X to 200

In [475]:
#GLOBAL keyword
x=50
def func():
    
    global x #global keyword
    print(f'x is {x}')
          
    #Local reassignment on a Global variable
    x='NEW VALUE'
    print(f'I Just locally changed X to {x}')

In [476]:
func()

x is 50
I Just locally changed X to NEW VALUE

In [477]:
print(x)  # ASSIGN a GLobal variable . it do affect the local declartion variable

NEW VALUE

In [478]:
#another way
x=50
def func(x):
    print(f'x is {x}')
          
    #Local reassignment on a Global variable
    x='NEW VALUE'
    print(f'I Just locally changed X to {x}')
    return x

In [479]:
x=func(x)

x is 50
I Just locally changed X to NEW VALUE

In [480]:
x

'NEW VALUE'

In [481]:
# 57) HOMEWORK 
   METHODS AND FUNCTION

IndentationError: unexpected indent (<ipython-input-481-3592f9fae0bc>, line 2)

In [482]:
#1)find radius sphere = 4/3 pi*r^3 
def rad(r):
    return (4/3)*3.14*r**3

In [483]:
rad(2)

33.49333333333333

In [484]:
#2)find given num is in range or not
def ran_check(num,low,high):
    if num in range(low,high+1):
        print(f'{num} is in range between {low} and {high}')
    else:
        print('not in range')

In [485]:
ran_check(5,2,7)

5 is in range between 2 and 7

In [486]:
ran_check(10,2,7)

not in range

In [487]:
#3)
def ran_bool(num,low,high):
    return num in range(low,high+1)

In [488]:
ran_bool(3,1,10)

True

In [489]:
ran_bool(10,2,7)

False

In [490]:
# 4) write a fun that accept str and return no.of upper n lower case

In [491]:
def up_lows(mystr):
    upper_count=0
    lower_count=0
    for i in mystr:
        if i.isupper()==True:
            upper_count+=1
        elif i.islower()==True:
             lower_count+=1
        else:
            pass
    
    print(f'no.of lower_case:{lower_count}')
    print(f'no.of upper_case:{upper_count}')

In [492]:
a='Hello Mr. Rogers, how are you this fine Tuesday?'

In [493]:
up_lows(a)

no.of lower_case:33
no.of upper_case:4

In [494]:
# 5)write a func to return unique values of the list

In [495]:
def unique_list(mylist):
    return list(set(mylist))

In [496]:
def unique_list(mylist):
    x=[]
    for i in mylist:
        if i not in x:
            x.append(i)
    return x

In [497]:
mylist=[1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,3,3,3,3,3,3,3,4,4,4,4,4,4,5,5,5,5,5,5,5,5]

In [498]:
unique_list(mylist)

[1, 2, 3, 4, 5]

In [499]:
#6 Write a Python function to multiply all the numbers in a list.

In [500]:
def multiply(mylist):
    n=1
    for i in mylist:
        n=n*i
    return n

In [501]:
mylist=[1,2,3,-4]

In [502]:
multiply(mylist)

-24

In [503]:
#7 Write a Python function that checks whether a word or phrase is palindrome or not

In [504]:
def palindrome(string):
    mystr=string.replace(" ","")
    rev=mystr[::-1]
    print(mystr)
    print(rev)
    if mystr==rev:
        return True
    
    else:
        return False

In [505]:
palindrome('hello')

hello
olleh

False

In [506]:
palindrome('madam')

madam
madam

True

In [507]:
palindrome('nurses run')

nursesrun
nursesrun

True

In [508]:
# 8)HARD: 
#Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)

In [509]:
import string
#string.ascii_lowercase is contains all alphabet in lower case 

import string

def ispangram(str1, alphabet=string.ascii_lowercase): 
    # Create a set of the alphabet
    alphaset = set(alphabet)  
    print(alphaset)
    # Remove spaces from str1
    str1 = str1.replace(" ",'')
    
    # Lowercase all strings in the passed in string
    # Recall we assume no punctuation 
    str1 = str1.lower()
    
    print(str1)
    # Grab all unique letters in the string as a set
    str1 = set(str1)
    
    # Now check that the alpahbet set is same as string set
    return str1 == alphaset

u want to know abt string.lowercase check it out-->
https://stackoverflow.com/questions/16060899/alphabet-range-in-python

set comparison https://medium.com/better-programming/a-visual-guide-to-set-comparisons-in-python-6ab7edb9ec41

In [510]:
ispangram("The quick brown fox jumps over the lazy dog")

{'y', 'x', 'g', 'k', 'q', 'e', 'v', 'b', 'm', 'j', 'r', 'i', 'h', 't', 'd', 'u', 'l', 'n', 'f', 'z', 'p', 's', 'c', 'w', 'o', 'a'}
thequickbrownfoxjumpsoverthelazydog

True

In [511]:
set1={3,2,1,0}
set2=[0,1,2,3]
set1==set1

True

In [512]:
# MILESTONE PROJECT

 TIC TOCK TOE GAME
 
 steps:
      1) Grab your inputs
      2) manipulate a variable based on input
      3) Return backe to adjusted variable

In [1]:
print([1,2,3])

[1, 2, 3]

In [3]:
print([1,2,3])
print([1,2,3])
print([1,2,3])

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [4]:
def display(row1,row2,row3):
    print(row1)
    print(row2)
    print(row3)

In [5]:
row1=[' ',' ',' ']
row2=[' ',' ',' ']
row3=[' ',' ',' ']

In [6]:
display(row1,row2,row3)

[' ', ' ', ' ']
[' ', ' ', ' ']
[' ', ' ', ' ']

In [7]:
user_input=int(input('enter the input index :'))

enter the input index :2

In [8]:
# 62)validating user input

In [9]:
def user_choice():
     
    #variable
    choice="WRONG"
    
    acceptable_ran=range(0,10)
    within_range=False
    
    while choice.isdigit()==False or within_range==False:
        
        choice=input("Enter the INDEX num (0-10):")
        
        if choice.isdigit()==False:
                     
                     print('sorry that not a digit')
        if choice.isdigit()==True:
                     
                     if int(choice) in acceptable_ran:
                        within_range=True
                     
                     else:
                          print("sorry, number not in (0-10)")
                          within_range=False
    return int(choice)

In [10]:
user_choice()

Enter the INDEX num (0-10):
sorry that not a digit
Enter the INDEX num (0-10):2

2

In [11]:
#63)simple interactive program

In [12]:
def display(game_list):
    print(game_list)

In [13]:
game_list=[1,2,3]

In [14]:
def position_():
    
    choice='Wrong'
    
    while choice not in ['0','1','2']:
        
        choice=input('Enter the Index(0,1,2):')
        
        if choice not in ['0','1','2']:
            
            print("sorry, invalid input")
            
    return int(choice)

In [15]:
position_()

Enter the Index(0,1,2):2

2

In [16]:
def replacement_choice(game_list,position_):
    
    mystr=input('Enter the replacement string:')
    game_list[position_]=mystr
    return game_list

In [17]:
replacement_choice(game_list,1)

Enter the replacement string:2

[1, '2', 3]

In [19]:
def game_on():
    
    choice='Wrong'
    
    while choice not in ['Y','N']:
        
        choice=input('keep playing? Y or N:')
        
        if choice not in ['Y','N']:
            
            print("sorry, invalid input,choose Y or N")
            
    if choice.upper()=='Y':
        return True
    else:
        return False

In [20]:
game_on()

keep playing? Y or N:y
sorry, invalid input,choose Y or N
keep playing? Y or N:y
sorry, invalid input,choose Y or N
keep playing? Y or N:Y

True

In [21]:
# all together excute

game_opt=True
game_list=[0,1,2]

while game_opt:
    
    display(game_list)
    
    user_choice= position_()
    
    game_list=replacement_choice(game_list,user_choice)
    
    display(game_list)
    
    game_opt=game_on()

[0, 1, 2]
Enter the Index(0,1,2):2
Enter the replacement string:1
[0, 1, '1']
keep playing? Y or N:Y
[0, 1, '1']
Enter the Index(0,1,2):N
sorry, invalid input
Enter the Index(0,1,2):N
sorry, invalid input
Enter the Index(0,1,2):0
Enter the replacement string:e
['e', 1, '1']
keep playing? Y or N:N

In [22]:
# MILESTONE PROJECT TIC TAC TOE GAME

In [23]:

from IPython.display import clear_output # TO clear the screen between moves

def display_board(board):
    clear_output()
    print(board[7]+'|'+board[8]+'|'+board[9])
    print('----- ')
    print(board[4]+'|'+board[5]+'|'+board[6])
    print('-----')
    print(board[1]+'|'+board[2]+'|'+board[3])

In [24]:
test_board=['#','X','O','X','O','X','O','X','O','X']

In [25]:
display_board(test_board) #if we run the func twice it's created twice so we use

X|O|X
-----
O|X|O
-----
X|O|X

In [26]:
board=[' ']*10
display_board(board)

 | |
-----
 | |
-----
 | |

In [27]:
def player_input():
    
    marker=''
    
    while marker!='X' and marker!='O':
        marker=input('Choose X or O :').upper()
        
    player1=marker
    if marker=='X':
        return ('X','O')
    else:
        return ('O','X')

In [28]:
player1,player2=player_input()

Choose X or O :x

In [29]:
player2

'O'

In [30]:

def place_marker(board, marker, pos):
    
    board[pos]=marker

In [31]:
place_marker(board,'$',8)
display_board(board)

 |$|
-----
 | |
-----
 | |

In [32]:
def win_check(board, mark):
    
     return ((board[7] == mark and board[8] == mark and board[9] == mark) or # across the top
    (board[4] == mark and board[5] == mark and board[6] == mark) or # across the middle
    (board[1] == mark and board[2] == mark and board[3] == mark) or # across the bottom
    (board[7] == mark and board[4] == mark and board[1] == mark) or # down the middle
    (board[8] == mark and board[5] == mark and board[2] == mark) or # down the middle
    (board[9] == mark and board[6] == mark and board[3] == mark) or # down the right side
    (board[7] == mark and board[5] == mark and board[3] == mark) or # diagonal
    (board[9] == mark and board[5] == mark and board[1] == mark)) # diagonal

In [33]:
display_board(test_board)
win_check(test_board,'X')

X|O|X
-----
O|X|O
-----
X|O|X

True

In [34]:
import random

def choose_first():
    
    flip= random.randint(0,1)
    
    if flip==1:
        return 'Player 1'
    else:
        return 'Player 2'

In [35]:
def space_check(board,position):
    return board[position] == ' '

In [36]:

def full_board_check(board):
    for i in range(1,10):
        if space_check(board, i):
            return False
    return True

In [37]:
def player_choice(board):
    
    position=0
    
    while position not in [1,2,3,4,5,6,7,8,9] or not space_check(board,position):
        position=int(input("Enter the position(1-9):"))
                     
    return position

In [38]:
def replay():
    
    choice=input("Keep playing ? Yes or No")
    
    return choice=='yes'

In [39]:
print('Welcome to Tic Tac Toe!')

while True:
    # Reset the board
    theBoard = [' '] * 10
    player1_marker, player2_marker = player_input()
    turn = choose_first()
    print(turn + ' will go first.')
    
    play_game = input('Are you ready to play? Enter Yes or No.')
    
    if play_game.lower()[0] == 'y':
        game_on = True
    else:
        game_on = False

    while game_on:
        if turn == 'Player 1':
            # Player1's turn.
            
            display_board(theBoard)
            position = player_choice(theBoard)
            place_marker(theBoard, player1_marker, position)

            if win_check(theBoard, player1_marker):
                display_board(theBoard)
                print('Congratulations! You have won the game!')
                game_on = False
            else:
                if full_board_check(theBoard):
                    display_board(theBoard)
                    print('The game is a draw!')
                    break
                else:
                    turn = 'Player 2'

        else:
            # Player2's turn.
            
            display_board(theBoard)
            position = player_choice(theBoard)
            place_marker(theBoard, player2_marker, position)

            if win_check(theBoard, player2_marker):
                display_board(theBoard)
                print('Player 2 has won!')
                game_on = False
            else:
                if full_board_check(theBoard):
                    display_board(theBoard)
                    print('The game is a draw!')
                    break
                else:
                    turn = 'Player 1'

    if not replay():
        break

 | |
-----
X| |
-----
 |O|
Enter the position(1-9):d

ValueError: invalid literal for int() with base 10: 'd'

 SECTION-8
 
 OBJECT ORIENDTED PROGRAMMING

In [40]:
class sample(): #class
    pass

In [41]:
my_sample=sample() #object

In [42]:
type(my_sample)

__main__.sample

In [43]:
# #example of class
class dog():
    def __init__(self,breed):
        self.breed=breed

In [44]:
my_dog=dog(breed='Lab')

In [45]:
my_dog.breed

'Lab'

In [46]:
type(my_dog)

__main__.dog

 __init__ is a constructor for a class, its automatically call when object created
 
 self - represented the instance of the class itself

In [47]:
class dog():
    def __init__(self,mybreed):
        self.breed=mybreed

In [48]:
my_dog=dog(mybreed='huskie')

In [49]:
my_dog.breed

'huskie'

In [50]:
#     (or)
class dog():
    def __init__(self,mybreed):
        self.my_attributes=mybreed

In [51]:
my_dog=dog(mybreed='huskie')

In [52]:
my_dog.my_attributes

'huskie'

In [53]:
# EXAMPLE 2

In [54]:
class dog():
    def __init__(self,breed,name,spots):
        self.breed=breed
        self.name=name
        self.spots=spots

In [55]:
my_dog= dog(breed='LAB',name='Daniel',spots='No spots')

In [56]:
my_dog.breed

'LAB'

In [57]:
my_dog.name

'Daniel'

In [58]:
my_dog.spots

'No spots'

In [59]:
# 70 ) Class Object attributes and Methods

In [60]:
class dog():
    species ='Mammal'  # this is called clss attribute 
    def __init__(self,breed,name,spots):
        self.breed=breed
        self.name=name
        self.spots=spots

In [61]:
my_dog=dog(breed='lab',name='sam',spots=False)

In [62]:
my_dog.breed

'lab'

In [63]:
my_dog.name

'sam'

In [64]:
my_dog.species

'Mammal'

In [65]:
my_dog.spots

False

In [66]:
 #METHODS

methods(method is a function inside of class):
       methods as function acting on an object that take the object itself into account through the use of self keyword

attributes:
           never have().but methods should have () paranthesis

In [67]:
class dog():
    species ='Mammal'  # this is called clss attribute 
    def __init__(self,breed,name):
        self.breed=breed
        self.name=name
        
    
    def bark(self):
        print("woof")

In [68]:
my_dog=dog('lab','sam')

In [69]:
my_dog.breed

'lab'

In [70]:
my_dog.name

'sam'

In [71]:
my_dog.species

'Mammal'

In [72]:
my_dog.bark()

woof

In [73]:
class dog():
    species ='Mammal'  # this is called clss attribute 
    def __init__(self,breed,name):
        self.breed=breed
        self.name=name
        
    #passing the argument to methods
    def bark(self,number):
        print("woof,my name is {} and my number {}".format(self.name,number))  
        
    ####    NOTE:  .format method  format(name) is not works ..we need to pass the object name with self keyword .Format(self.name)

In [74]:
my_dog=dog('huskie','daniel')

In [75]:
my_dog.bark(10)

woof,my name is daniel and my number 10

In [76]:
# another example|

In [77]:
class circle():
    pi=3.14 # attribute
    
    def __init__(self,radius=1):
        self.radius=radius
        
     #method
    def get_circumference(self):
        return self.radius* self.pi*2

In [78]:
my_circle=circle()

In [79]:
my_circle.pi

3.14

In [80]:
my_circle.radius

1

In [81]:
my_circle.get_circumference()

6.28

In [82]:
my_circle=circle(30)

In [83]:
my_circle.get_circumference()

188.4

In [84]:
class circle():
    pi=3.14 # attribute
    
    
    # two way declare pi 1) self.pi 2)circle.pi (recommended)
    
    def __init__(self,radius=1):
        self.radius=radius
        self.area=radius*radius*circle.pi
        
     #method
    def get_circumference(self):
        return self.radius* circle.pi*2

In [85]:
my_circle=circle(30)

In [86]:
my_circle.area

2826.0

In [87]:
my_circle.get_circumference()

188.4

In [88]:
# 71) OOP - Inheritance and polymarphism

Inheritance - the ability to reuse the code and reduce complexity of the program

In [89]:
#inheritance
class animal():
    def __init__(self):
        print("Animal created")
    def who_am_i(self):
        print("I am an animal")
    def eat(self):
        print("I am eating")

In [90]:
my_animal=animal()

Animal created

In [91]:
class dog(animal):
    def  __init__(self):
        animal.__init__(self)
        print("Dog created")

In [92]:
mydog=dog()

Animal created
Dog created

In [93]:
mydog.who_am_i()

I am an animal

In [94]:
mydog.eat()

I am eating

In [95]:
# we can Override the base class
class dog(animal):
    def  __init__(self):
        #super().__init__()
        print("Dog created")
            
    def who_am_i(self):
        print("I am dog")
            
    def eat(self):
        print("My Dog is eating")

    def bark(self):
        print("WOOF")

In [96]:
mydog=dog()

Dog created

In [97]:
mydog.eat()

My Dog is eating

In [98]:
mydog.who_am_i()

I am dog

In [99]:
mydog.bark()

WOOF

In [100]:
# POLYMORPHISM

Polymorphism in python defines methods in the child class that have the same name as the methods in the parent class. In inheritance, the child class inherits the methods from the parent class. Also, it is possible to modify a method in a child class that it has inherited from the parent class.

In [101]:
class dog():
    
    def __init__(self,name):
        self.name=name
    
    def speak(self):
        return self.name + " says WOOF "

In [102]:
class cat():
    
    def __init__(self,name):
        self.name=name
        
    def speak(self):
        return self.name + " says meow "

In [103]:
nike=dog("nike")
felix=cat("felix")

In [104]:
print(nike.speak())

nike says WOOF

In [105]:
print(felix.speak())

felix says meow

In [106]:
for pet in [felix,nike]:
    print(pet.speak())

felix says meow
nike says WOOF

In [107]:
for pet in [felix,nike]:
    print(type(pet))
    print(type(pet.speak()))
    print(pet.speak())

<class '__main__.cat'>
<class 'str'>
felix says meow
<class '__main__.dog'>
<class 'str'>
nike says WOOF

In [108]:
def pet_speak(pet):
    print(pet.speak())

In [109]:
pet_speak(nike)

nike says WOOF

In [110]:
pet_speak(felix)

felix says meow

In [111]:
# ABSTRACT class

A class is called an Abstract class if it contains one or more abstract methods. An abstract method is a method that is declared, but contains no implementation. Abstract classes may not be instantiated, and its abstract methods must be implemented by its subclasses

In [112]:
class animal():
    def __init__(self,name):
        self.name=name
        
    def speak(self):
        raise NotImplementedError("subclass must implement the abstract class")

In [113]:
my_animal=animal("fred")

In [114]:
my_animal.speak() # its show error bcoz its a abstract class

NotImplementedError: subclass must implement the abstract class

In [115]:
class dog(animal):
    
    def __init__(self,name):
        self.name=name
    
    def speak(self):
        return self.name + " says WOOF "

In [116]:
class cat(animal):
    
    def __init__(self,name):
        self.name=name
        
    def speak(self):
        return self.name + " says meow "

In [117]:
fido=dog('fido')
isis=cat('isis')

In [118]:
fido.speak()

'fido says WOOF '

In [119]:
isis.speak()

'isis says meow '

In [120]:
# 72) OOP special Methods (MAGIC / DUNKER) part 4

In [121]:
mylist=[1,2,3]

In [122]:
len(mylist)

3

In [123]:
class sample():
    pass

In [124]:
mysample=sample()

In [125]:
len(sample)

TypeError: object of type 'type' has no len()

In [126]:
print(sample)

<class '__main__.sample'>

In [127]:
# TO  rectify the problems we use  Special Methods
class book():
    
    def __init__(self,title,Author,pages):
        self.title=title
        self.author=Author
        self.pages=pages

In [128]:
b=book('python rocks','jose',200)

In [129]:
print(b)

<__main__.book object at 0x0000020E9DE89B48>

In [130]:
str(b)

'<__main__.book object at 0x0000020E9DE89B48>'

In [131]:
class book():
    
    def __init__(self,title,Author,pages):
        self.title=title
        self.author=Author
        self.pages=pages
    def __str__(self):  # special method
        return f"{self.title} by {self.author}"

In [132]:
b=book('python rocks','jose',200)

In [133]:
print(b)

python rocks by jose

In [134]:
str(b)

'python rocks by jose'

In [135]:
len(b)

TypeError: object of type 'book' has no len()

In [136]:
class book():
    
    def __init__(self,title,Author,pages):
        self.title=title
        self.author=Author
        self.pages=pages
    def __str__(self):  # special method
        return f"{self.title} by {self.author}"
    
    def __len__(self):
        return self.pages

In [137]:
b=book('python rocks','jose',200)

In [138]:
len(b)

200

In [139]:
str(b)

'python rocks by jose'

In [140]:
#if we want to delete

In [141]:
del b

In [142]:
b

NameError: name 'b' is not defined

In [143]:
class book():
    
    def __init__(self,title,Author,pages):
        self.title=title
        self.author=Author
        self.pages=pages
    def __str__(self):  # special method
        return f"{self.title} by {self.author}"
    
    def __len__(self): # sepcial methods
        return self.pages
    
    def __del__(self): #special method
        print("page has beed deleted")

In [144]:
b=book('python rocks','jose',200)

In [145]:
del b

page has beed deleted

In [146]:
# HOME WORK ASSIGNMENT

In [147]:
#Find Line Distance and Line slope 

class Line():
    
    def __init__(self,coor1,coor2):
        self.coor1=coor1
        self.coor2=coor2
    
    def distance(self):
        x1,y1=self.coor1
        x2,y2=self.coor2
        return ((x2-x1)**2 + (y2-y1)**2)**0.5
    def slope(self):
        x1,y1=self.coor1
        x2,y2=self.coor2
        return (y2-y1)/(x2-x1)

In [148]:
coordinate1 = (3,2)
coordinate2 = (8,10)

In [149]:
li = Line(coordinate1,coordinate2)

In [150]:
li.distance()

9.433981132056603

In [151]:
li.slope()

1.6

In [152]:
#PROBLEMS 2

In [153]:
class Cylinder:
    
    pi=3.14
    
    def __init__(self,height=1,radius=1):
        self.height=height
        self.radius=radius
        
    def volume(self):
        return Cylinder.pi*self.radius**2 * self.height
    
    def surface_area(self):
        return Cylinder.pi*self.radius*self.height*2 + 2* Cylinder.pi*self.radius**2

In [154]:
c = Cylinder(2,3)

In [155]:
c.volume()

56.52

In [156]:
c.surface_area()

94.2

Bank Account Challenge

In [157]:
class account():
    def __init__(self,owner,balance=0):
        self.owner=owner
        self.balance=balance
        
    def __str__(self):
        return f'owner="{self.owner}"\nbalance=${self.balance}'
    
    def deposit(self,amount):
        self.balance=self.balance+amount
        print("Successfully deposited:$ {}".format(amount))
        
    def withdrawal(self,amount):
        
        if amount>self.balance:
           print("The amount exceed, you have ${} only".format(self.balance))
        else:
            self.balance=self.balance-amount
            return f'withdrawal success:$ {-amount}'

In [158]:
acc1=account('daniel',300)

In [159]:
print(acc1)

owner="daniel"
balance=$300

In [160]:
acc1.owner

'daniel'

In [161]:
acc1.balance

300

In [162]:
acc1.deposit(50)

Successfully deposited:$ 50

In [163]:
acc1.balance

350

In [164]:
acc1.withdrawal(50)

'withdrawal success:$ -50'

In [165]:
acc1.balance

300

In [166]:
acc1.withdrawal(500)

The amount exceed, you have $300 only

SECTION -9  is MODULES AND PACKAGES In CMD

 SECTION - 10
 
 ERRORS and ERROR HANDLING
 
 
 
 check Built-In Func for Error handling
 
 https://docs.python.org/3/library/exceptions.html

In [167]:
#Try is may lead to error

#except: this block excute there is the error in Try

#finally: this block run always whatever happended in coding

In [168]:
def add(n1,n2):
    print(n1+n2)

In [169]:
add(10,20)

30

In [170]:
num1=10

In [171]:
num2=input("enter the  num 2:")

enter the  num 2:2

In [172]:
add(num1,num2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [173]:
type (num2)

str

In [174]:
type(num1)

int

In [175]:
#example 2

In [176]:
try:
    result= 10+10
except:
    print("some error in try block look again, n fix IT!!!!")

In [177]:
result

20

In [178]:
try:
    result= 10+'10'
except:
    print("some error in try block look again, n fix IT!!!!")

some error in try block look again, n fix IT!!!!

In [179]:
try:
    result= 10+10
except:
    print("some error in try block look again, n fix IT!!!!")
else:
    print("Add went well!!")
    print(result)

Add went well!!
20

In [180]:
#example 3

In [181]:
try:
    f=open('testfile','w')
    f.write('HOla, Amigo\'s')
except TypeError:
    print("HEy!, there is type error")
except OSError: #you dont have permission to read file but u trying open its OSerror
    print("Hey you have a OS error") 
finally:
    print("I  always Run")

I  always Run

In [182]:
pwd

'c:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook'

In [183]:
try:
    f=open('testfile','r')
    f.write('HOla, Amigo\'s')
except TypeError:
    print("HEy!, there is type error")
except OSError: #you dont have permission to read file but u tried open it.. its show OSerror
    print("Hey you have a OS error") 
finally:
    print("I  always Run")

Hey you have a OS error
I  always Run

In [184]:
try:
    f=open('testfile','r')
    f.write('HOla, Amigo\'s')
except:
    print("All other errors")
finally:
    print("I  always Run")

All other errors
I  always Run

In [185]:
try:
    f=open('testfile','w')
    f.write('HOla, Amigo\'s')
except:
    print("All other errors")
finally:
    print("I  always Run")

I  always Run

In [186]:
#example 4

In [187]:
def func():
    try:
        result=int(input('Provide the number'))
    except:
        print("Whoops !!!..Error Occured.")
    finally:
        print("End of Try/except/finally")

In [188]:
func()

Provide the number1
End of Try/except/finally

In [190]:
def func():
    while True:
            try:
                result=int(input('Provide the number'))
            except:
                print("Whoops !!!..Error Occured.")
                continue
            else:
                print("Thank U")
                break
            finally:
                print("End of Try/except/finally")

In [191]:
func()

Provide the number5
Thank U
End of Try/except/finally

HOMEWORK - ERROR And Exception Handling

In [192]:
#81)
# 1)
try:
    for i in ['a','b','c']:
        print(i**2)
except TypeError:
    print("TypeError Occured!!!")

TypeError Occured!!!

In [193]:
#2)
try:
    x=5
    y=0
    z=x/y
except ZeroDivisionError:
    print("ZeroDivisionError occured!!!")

ZeroDivisionError occured!!!

In [194]:
#3)
def ask():
    while True:
            try:
                n=int(input('Enter the Number:'))
            except:
                print("An error Occured!!..Try again")
                continue
            else:
                print(f'Thanks U, your number squared: {n**2}')
                break

In [195]:
ask()

Enter the Number:
An error Occured!!..Try again
Enter the Number:3
Thanks U, your number squared: 9

PYlint and Unittest testing Function

In [196]:
#84)
#PYLINT and UNITTEST (built in libery)
#pylint :this libery  looks at u code and report back u r possible issues n it can rate our code out of 10
#unittest: its a build-in  python libery its allows to test your own program and checks your are getting desired output

In [197]:
#85) unittest

https://docs.python.org/3/library/unittest.html

In [198]:
text='monty python'
text.title()

'Monty Python'

# title(): 
used to convert the first character in each word to Uppercase and remaining characters to Lowercase in string and returns new string.

In [199]:
#WARMUP project - CARD GAME

SECTION - 11

In [200]:
#card 
# suit,rank,value
import random
suit=('Hearts','Diamonds','Spades','Clubs')
rank=('Two','Three','Four','Five','Six','Seven','Eight','Nine','Ten','Jack','Queen','King','Ace')
values={'Two':2,'Three':3,'Four':4,'Five':5,'Six':6,'Seven':7,'Eight':8,'Nine':9,'Ten':10,'Jack':11,'Queen':12,'King':13,'Ace':14}

In [201]:
class Card():
    def __init__(self,suit,rank):
        self.suit=suit
        self.rank=rank
        self.value=values[rank]
        
    def __str__(self):
        return f'{self.rank} of {self.suit}'

In [202]:
Two_of_Diamond=Card('Diamonds','Two')

In [203]:
print(Two_of_Diamond)

Two of Diamonds

In [204]:
Three_of_Spades=Card('Spades','Three')

In [205]:
print(Three_of_Spades)

Three of Spades

In [206]:
Two_of_Diamond.value

2

In [207]:
Three_of_Spades.value

3

In [208]:
Three_of_Spades.value>Two_of_Diamond.value

True

In [209]:
class Deck:
    def __init__(self):
        self.all_cards=[]
        
        for ranks in rank:
            for suits in suit:
                create_deck=Card(suits,ranks)
                self.all_cards.append(create_deck)
    def shuffle(self):
        random.shuffle(self.all_cards)
        
    def deal_one(self):
        return self.all_cards.pop()

In [210]:
new_deck=Deck()

In [211]:
print(new_deck)

<__main__.Deck object at 0x0000020E9DE8C988>

In [212]:
new_deck.all_cards

[<__main__.Card at 0x20e9de8ca48>,
 <__main__.Card at 0x20e9de8cfc8>,
 <__main__.Card at 0x20e9de8c608>,
 <__main__.Card at 0x20e9de8c288>,
 <__main__.Card at 0x20e9de8c488>,
 <__main__.Card at 0x20e9de8c108>,
 <__main__.Card at 0x20e9de8cd08>,
 <__main__.Card at 0x20e9de8cbc8>,
 <__main__.Card at 0x20e9de80f48>,
 <__main__.Card at 0x20e9de8c848>,
 <__main__.Card at 0x20e9de80308>,
 <__main__.Card at 0x20e9de98708>,
 <__main__.Card at 0x20e9de98f48>,
 <__main__.Card at 0x20e9de98dc8>,
 <__main__.Card at 0x20e9de985c8>,
 <__main__.Card at 0x20e9de98a88>,
 <__main__.Card at 0x20e9de98548>,
 <__main__.Card at 0x20e9de98648>,
 <__main__.Card at 0x20e9de98148>,
 <__main__.Card at 0x20e9de98908>,
 <__main__.Card at 0x20e9de98948>,
 <__main__.Card at 0x20e9de98688>,
 <__main__.Card at 0x20e9de98988>,
 <__main__.Card at 0x20e9de98448>,
 <__main__.Card at 0x20e9de98208>,
 <__main__.Card at 0x20e9de98608>,
 <__main__.Card at 0x20e9de98188>,
 <__main__.Card at 0x20e9de98588>,
 <__main__.Card at 0x20e9de98508>,
 <__main__.Card at 0x20e9de984c8>,
 <__main__.Card at 0x20e9de983c8>,
 <__main__.Card at 0x20e9de98488>,
 <__main__.Card at 0x20e9de982c8>,
 <__main__.Card at 0x20e9de98348>,
 <__main__.Card at 0x20e9de980c8>,
 <__main__.Card at 0x20e9de98c88>,
 <__main__.Card at 0x20e9de98248>,
 <__main__.Card at 0x20e9de98288>,
 <__main__.Card at 0x20e9de98108>,
 <__main__.Card at 0x20e9de98388>,
 <__main__.Card at 0x20e9de98088>,
 <__main__.Card at 0x20e9de981c8>,
 <__main__.Card at 0x20e9de98048>,
 <__main__.Card at 0x20e9de98308>,
 <__main__.Card at 0x20e9dea7388>,
 <__main__.Card at 0x20e9dea7708>,
 <__main__.Card at 0x20e9dea7248>,
 <__main__.Card at 0x20e9dea7148>,
 <__main__.Card at 0x20e9dea7108>,
 <__main__.Card at 0x20e9dea7088>,
 <__main__.Card at 0x20e9dea7288>,
 <__main__.Card at 0x20e9dea74c8>]

In [213]:
for i in new_deck.all_cards:
    print(i)

Two of Hearts
Two of Diamonds
Two of Spades
Two of Clubs
Three of Hearts
Three of Diamonds
Three of Spades
Three of Clubs
Four of Hearts
Four of Diamonds
Four of Spades
Four of Clubs
Five of Hearts
Five of Diamonds
Five of Spades
Five of Clubs
Six of Hearts
Six of Diamonds
Six of Spades
Six of Clubs
Seven of Hearts
Seven of Diamonds
Seven of Spades
Seven of Clubs
Eight of Hearts
Eight of Diamonds
Eight of Spades
Eight of Clubs
Nine of Hearts
Nine of Diamonds
Nine of Spades
Nine of Clubs
Ten of Hearts
Ten of Diamonds
Ten of Spades
Ten of Clubs
Jack of Hearts
Jack of Diamonds
Jack of Spades
Jack of Clubs
Queen of Hearts
Queen of Diamonds
Queen of Spades
Queen of Clubs
King of Hearts
King of Diamonds
King of Spades
King of Clubs
Ace of Hearts
Ace of Diamonds
Ace of Spades
Ace of Clubs

In [214]:
len(new_deck.all_cards)

52

In [215]:
last_card=new_deck.all_cards[-1]

In [216]:
print(last_card)

Ace of Clubs

In [217]:
new_deck.shuffle()

In [218]:
last_card=new_deck.all_cards[-1]

In [219]:
print(last_card)

Six of Clubs

In [220]:
new_deck.shuffle()

In [221]:
print(new_deck.deal_one())

Two of Diamonds

In [222]:
len(new_deck.all_cards)

51

In [223]:
mycard=new_deck.deal_one()

In [224]:
print(mycard)

Six of Spades

In [225]:
class Player:
    def __init__(self,name):
        self.name=name
        self.all_cards=[]

    def remove_one(self):
        return self.all_cards.pop(0)

    def add_cards(self,new_cards): # extend() func takes a list and then merges  with existing list
        if type(new_cards)==type([]):
            #for multiple cards
            self.all_cards.extend(new_cards)
        else:
            #for single cards
            self.all_cards.append(new_cards)

    def __str__(self):
         return f'Player {self.name} has {len(self.all_cards)} cards.'

In [226]:
newplayer=Player("Dinesh")

In [227]:
str(newplayer)

'Player Dinesh has 0 cards.'

In [228]:
newplayer.add_cards(mycard)

In [229]:
print(newplayer.remove_one())

Six of Spades

In [230]:
#Game 
player1 = Player("Dinesh")
player2 = Player("Daniel")

new_deck=Deck()
new_deck.shuffle()

for x in range(26):
    player1.add_cards(new_deck.deal_one())
    player2.add_cards(new_deck.deal_one())

In [231]:
game_on=True

In [232]:
#while game_on True
round_num=0

while game_on:
    round_num+=1
    print(f'Round : {round_num}')
    
    if len(player1.all_cards)==0:
        print("Player Two WoN....player One Lost")
        game_on=False
        break
    if len(player2.all_cards)==0:
        print("Player One WoN....player Two Lost")
        game_on=False
        break
          
    #start Game
     
    player1_cards=[]
    player1_cards.append(player1.remove_one())
          
    player2_cards=[]
    player2_cards.append(player2.remove_one())
    
    #while at_war
    
    at_war=True
    
    while at_war:
        
        if player1_cards[-1].value > player2_cards[-1].value:
            player1.add_cards(player1_cards)
            player1.add_cards(player2_cards)
            at_war=False
        
        elif player1_cards[-1].value < player2_cards[-1].value:
            player2.add_cards(player1_cards)
            player2.add_cards(player2_cards)
            at_war=False
            
        else:
            
            print("WAR!!!!")
            
            if len(player1.all_cards) < 5:
                print("Player 1 unable to declare War !! Player 2 won")
                game_on=False
                break
             
            elif len(player2.all_cards) < 5:
                print("Player 2 unable to declare War !! Player 1 won")
                game_on=False
                break
            
            else:
                
                for num in range(5):
                    player1_cards.append(player1.remove_one())
                    player2_cards.append(player2.remove_one())

Round : 1
Round : 2
Round : 3
Round : 4
Round : 5
Round : 6
Round : 7
Round : 8
Round : 9
Round : 10
Round : 11
Round : 12
Round : 13
Round : 14
Round : 15
Round : 16
Round : 17
Round : 18
Round : 19
Round : 20
WAR!!!!
Round : 21
Round : 22
Round : 23
Round : 24
Round : 25
Round : 26
Round : 27
Round : 28
Round : 29
Round : 30
WAR!!!!
Round : 31
Round : 32
Round : 33
Round : 34
Round : 35
Round : 36
Round : 37
Round : 38
Round : 39
Round : 40
Round : 41
Round : 42
Round : 43
Round : 44
Round : 45
Round : 46
Round : 47
Round : 48
Round : 49
Round : 50
Round : 51
Round : 52
Round : 53
Round : 54
Round : 55
Round : 56
Round : 57
Round : 58
Round : 59
Round : 60
WAR!!!!
Round : 61
Round : 62
Round : 63
Round : 64
Round : 65
Round : 66
Round : 67
Round : 68
Round : 69
Round : 70
Round : 71
Round : 72
Round : 73
Round : 74
Round : 75
Round : 76
Round : 77
Round : 78
Round : 79
Round : 80
Round : 81
Round : 82
Round : 83
Round : 84
Round : 85
Round : 86
Round : 87
Round : 88
Round : 89
Round : 90
Round : 91
Round : 92
Round : 93
Round : 94
Round : 95
Round : 96
Round : 97
Round : 98
Round : 99
Round : 100
Round : 101
Round : 102
Round : 103
Round : 104
Round : 105
Round : 106
Round : 107
Round : 108
Round : 109
Round : 110
Round : 111
Round : 112
Round : 113
Round : 114
Round : 115
Round : 116
Round : 117
Round : 118
Round : 119
Round : 120
Round : 121
Round : 122
Round : 123
Round : 124
Round : 125
WAR!!!!
Round : 126
Round : 127
Round : 128
Round : 129
Round : 130
Round : 131
Round : 132
Round : 133
Round : 134
Round : 135
Round : 136
Round : 137
Round : 138
Round : 139
Round : 140
Round : 141
Round : 142
Round : 143
Round : 144
Round : 145
Round : 146
Round : 147
Round : 148
Round : 149
WAR!!!!
Round : 150
Round : 151
Round : 152
Round : 153
Round : 154
Round : 155
Round : 156
Round : 157
Round : 158
Round : 159
Round : 160
Round : 161
Round : 162
Round : 163
Round : 164
Round : 165
Round : 166
Round : 167
Round : 168
Round : 169
Round : 170
Round : 171
Round : 172
Round : 173
Round : 174
Round : 175
Round : 176
Round : 177
Round : 178
Round : 179
Round : 180
Round : 181
Round : 182
Round : 183
Round : 184
Round : 185
Round : 186
Round : 187
Round : 188
Round : 189
Round : 190
Round : 191
Round : 192
Round : 193
Round : 194
Round : 195
Round : 196
Round : 197
Round : 198
Round : 199
Round : 200
Round : 201
Round : 202
Round : 203
Round : 204
Round : 205
Round : 206
Round : 207
Round : 208
Round : 209
Round : 210
Round : 211
Round : 212
Round : 213
Round : 214
Round : 215
Round : 216
WAR!!!!
Round : 217
Round : 218
Round : 219
Round : 220
Round : 221
Round : 222
Round : 223
Round : 224
Round : 225
Round : 226
Round : 227
Round : 228
Round : 229
Round : 230
Round : 231
Round : 232
Round : 233
Round : 234
Round : 235
Round : 236
Round : 237
Round : 238
Round : 239
Round : 240
Round : 241
Round : 242
Round : 243
Round : 244
Round : 245
Round : 246
WAR!!!!
Round : 247
Round : 248
Round : 249
Round : 250
Round : 251
Round : 252
Round : 253
Round : 254
Round : 255
Round : 256
Round : 257
Round : 258
Round : 259
Round : 260
Round : 261
WAR!!!!
Round : 262
Round : 263
Round : 264
Round : 265
Round : 266
Round : 267
Round : 268
Round : 269
Round : 270
Round : 271
Round : 272
Round : 273
Round : 274
Round : 275
Round : 276
Round : 277
Round : 278
Round : 279
Round : 280
Round : 281
Round : 282
Round : 283
Round : 284
Round : 285
Round : 286
Round : 287
Round : 288
Round : 289
Round : 290
Round : 291
Round : 292
Round : 293
Round : 294
WAR!!!!
Round : 295
Round : 296
Round : 297
Round : 298
Round : 299
Round : 300
Round : 301
Round : 302
Round : 303
Round : 304
Round : 305
Round : 306
Round : 307
Round : 308
Round : 309
Round : 310
WAR!!!!
Round : 311
Round : 312
Round : 313
Round : 314
Round : 315
Round : 316
Round : 317
Round : 318
Round : 319
Round : 320
Round : 321
Round : 322
Round : 323
Round : 324
Round : 325
Round : 326
Round : 327
Round : 328
Round : 329
Round : 330
Round : 331
WAR!!!!
Round : 332
Round : 333
Round : 334
Round : 335
Round : 336
Round : 337
Round : 338
Round : 339
Round : 340
Round : 341
Round : 342
Round : 343
Round : 344
Round : 345
Round : 346
Round : 347
Round : 348
Round : 349
Round : 350
Round : 351
Round : 352
Round : 353
WAR!!!!
Round : 354
Round : 355
Round : 356
WAR!!!!
Round : 357
Round : 358
Round : 359
Round : 360
Round : 361
Round : 362
Round : 363
Round : 364
Round : 365
Round : 366
Round : 367
Round : 368
Round : 369
Round : 370
Round : 371
Round : 372
Round : 373
Round : 374
Round : 375
Round : 376
Round : 377
Round : 378
Round : 379
Round : 380
WAR!!!!
Round : 381
Round : 382
Round : 383
Round : 384
Round : 385
Round : 386
Round : 387
Round : 388
Round : 389
Round : 390
Round : 391
Round : 392
Round : 393
Round : 394
Round : 395
Round : 396
Round : 397
Round : 398
Round : 399
Round : 400
Round : 401
Round : 402
Round : 403
Round : 404
Round : 405
Round : 406
Round : 407
Round : 408
Round : 409
Round : 410
Round : 411
Round : 412
Round : 413
Round : 414
Round : 415
Round : 416
Round : 417
Round : 418
Round : 419
Round : 420
Round : 421
Round : 422
Round : 423
Round : 424
Round : 425
Round : 426
Round : 427
Round : 428
Round : 429
Round : 430
Round : 431
Round : 432
Round : 433
Round : 434
Round : 435
Round : 436
Round : 437
Round : 438
Round : 439
Round : 440
Round : 441
Round : 442
Round : 443
Round : 444
Round : 445
Round : 446
WAR!!!!
Round : 447
Round : 448
Round : 449
Round : 450
Round : 451
Round : 452
Round : 453
Round : 454
Round : 455
Round : 456
Round : 457
WAR!!!!
Round : 458
Round : 459
Round : 460
Round : 461
Round : 462
WAR!!!!
Round : 463
Round : 464
Round : 465
Round : 466
Round : 467
Round : 468
Round : 469
Round : 470
Round : 471
Round : 472
Round : 473
Round : 474
Round : 475
Round : 476
Round : 477
Round : 478
Round : 479
WAR!!!!
Round : 480
Round : 481
Round : 482
Round : 483
Round : 484
Round : 485
Round : 486
Round : 487
Round : 488
Round : 489
Round : 490
Round : 491
Round : 492
Round : 493
Round : 494
Round : 495
Round : 496
Round : 497
Round : 498
Round : 499
Round : 500
Round : 501
WAR!!!!
Round : 502
Round : 503
WAR!!!!
Round : 504
Round : 505
Round : 506
Round : 507
WAR!!!!
Round : 508
Round : 509
Round : 510
Round : 511
Round : 512
Round : 513
Round : 514
Round : 515
Round : 516
Round : 517
Round : 518
Round : 519
Round : 520
Round : 521
Round : 522
Round : 523
Round : 524
Round : 525
Round : 526
Round : 527
Round : 528
Round : 529
Round : 530
Round : 531
Round : 532
Round : 533
Round : 534
Round : 535
Round : 536
Round : 537
Round : 538
Round : 539
Round : 540
Round : 541
Round : 542
Round : 543
Round : 544
Round : 545
Round : 546
Round : 547
Round : 548
Round : 549
Round : 550
Round : 551
Round : 552
Round : 553
Round : 554
Round : 555
Round : 556
Round : 557
Round : 558
Round : 559
Round : 560
Round : 561
Round : 562
Round : 563
Round : 564
Round : 565
Round : 566
Round : 567
Round : 568
Round : 569
Round : 570
Round : 571
Round : 572
Round : 573
Round : 574
Round : 575
Round : 576
Round : 577
Round : 578
Round : 579
Round : 580
Round : 581
Round : 582
Round : 583
Round : 584
Round : 585
Round : 586
Round : 587
Round : 588
Round : 589
Round : 590
Round : 591
Round : 592
Round : 593
Round : 594
Round : 595
Round : 596
Round : 597
Round : 598
Round : 599
Round : 600
Round : 601
Round : 602
Round : 603
Round : 604
Round : 605
Round : 606
Round : 607
Round : 608
Round : 609
Round : 610
Round : 611
Round : 612
Round : 613
Round : 614
Round : 615
Round : 616
Round : 617
Round : 618
Round : 619
Round : 620
Round : 621
Round : 622
Round : 623
Round : 624
Round : 625
Round : 626
Round : 627
Round : 628
Round : 629
Round : 630
Round : 631
Round : 632
Round : 633
Round : 634
Round : 635
Round : 636
Round : 637
Round : 638
Round : 639
Round : 640
Round : 641
Round : 642
Round : 643
Round : 644
Round : 645
Round : 646
Round : 647
Round : 648
Round : 649
Round : 650
Round : 651
Round : 652
Round : 653
Round : 654
Round : 655
Round : 656
Round : 657
Round : 658
Round : 659
Round : 660
Round : 661
Round : 662
Round : 663
Round : 664
Round : 665
Round : 666
Round : 667
Round : 668
Round : 669
Round : 670
Round : 671
Round : 672
Round : 673
Round : 674
Round : 675
Round : 676
Round : 677
Round : 678
Round : 679
Round : 680
Round : 681
Round : 682
Round : 683
Round : 684
Round : 685
Round : 686
Round : 687
Round : 688
Round : 689
Round : 690
Round : 691
Round : 692
Round : 693
Round : 694
Round : 695
Round : 696
Round : 697
Round : 698
Round : 699
Round : 700
Round : 701
Round : 702
Round : 703
Round : 704
Round : 705
Round : 706
Round : 707
Round : 708
Round : 709
Round : 710
Round : 711
Round : 712
Round : 713
Round : 714
Round : 715
Round : 716
Round : 717
Round : 718
Round : 719
Round : 720
Round : 721
Round : 722
Round : 723
Round : 724
Round : 725
Round : 726
Round : 727
Round : 728
Round : 729
Round : 730
Round : 731
Round : 732
Round : 733
Round : 734
Round : 735
Round : 736
Round : 737
WAR!!!!
Round : 738
Round : 739
Round : 740
Round : 741
Round : 742
Round : 743
Round : 744
Round : 745
Round : 746
Round : 747
Round : 748
Round : 749
Round : 750
Round : 751
Round : 752
Round : 753
Round : 754
Round : 755
WAR!!!!
Round : 756
Round : 757
Round : 758
Round : 759
Round : 760
Round : 761
Round : 762
Round : 763
Round : 764
Round : 765
Round : 766
Round : 767
Round : 768
Round : 769
Round : 770
Round : 771
Round : 772
Round : 773
Round : 774
Round : 775
Round : 776
Round : 777
Round : 778
Round : 779
Round : 780
Round : 781
Round : 782
Round : 783
Round : 784
Round : 785
Round : 786
Round : 787
Round : 788
Round : 789
Round : 790
Round : 791
Round : 792
Round : 793
Round : 794
Round : 795
Round : 796
Round : 797
Round : 798
Round : 799
Round : 800
Round : 801
Round : 802
Round : 803
Round : 804
Round : 805
Round : 806
Round : 807
Round : 808
Round : 809
Round : 810
Round : 811
Round : 812
Round : 813
Round : 814
Round : 815
Round : 816
Round : 817
Round : 818
Round : 819
Round : 820
Round : 821
Round : 822
Round : 823
Round : 824
Round : 825
Round : 826
Round : 827
Round : 828
Round : 829
Round : 830
Round : 831
Round : 832
Round : 833
Round : 834
Round : 835
Round : 836
Round : 837
Round : 838
Round : 839
Round : 840
Round : 841
Round : 842
Round : 843
Round : 844
Round : 845
Round : 846
Round : 847
Round : 848
Round : 849
Round : 850
Round : 851
Round : 852
Round : 853
Round : 854
Round : 855
Round : 856
Round : 857
Round : 858
Round : 859
Round : 860
Round : 861
Round : 862
Round : 863
Round : 864
Round : 865
Round : 866
Round : 867
Round : 868
Round : 869
Round : 870
Round : 871
Round : 872
Round : 873
Round : 874
Round : 875
Round : 876
Round : 877
Round : 878
Round : 879
Round : 880
Round : 881
Round : 882
Round : 883
WAR!!!!
Round : 884
Round : 885
Round : 886
Round : 887
Round : 888
Round : 889
Round : 890
Round : 891
Round : 892
Round : 893
Round : 894
Round : 895
Round : 896
Round : 897
Round : 898
Round : 899
Round : 900
Round : 901
Round : 902
Round : 903
Round : 904
Round : 905
Round : 906
Round : 907
Round : 908
Round : 909
Round : 910
Round : 911
Round : 912
Round : 913
Round : 914
Round : 915
Round : 916
Round : 917
Round : 918
Round : 919
Round : 920
Round : 921
Round : 922
Round : 923
Round : 924
Round : 925
Round : 926
Round : 927
Round : 928
Round : 929
Round : 930
Round : 931
Round : 932
Round : 933
Round : 934
Round : 935
Round : 936
Round : 937
Round : 938
Round : 939
Round : 940
Round : 941
Round : 942
Round : 943
Round : 944
Round : 945
Round : 946
Round : 947
Round : 948
Round : 949
Round : 950
Round : 951
Round : 952
Round : 953
Round : 954
Round : 955
Round : 956
Round : 957
Round : 958
Round : 959
Round : 960
Round : 961
Round : 962
Round : 963
Round : 964
Round : 965
Round : 966
Round : 967
Round : 968
Round : 969
Round : 970
Round : 971
Round : 972
Round : 973
Round : 974
Round : 975
Round : 976
Round : 977
Round : 978
Round : 979
Round : 980
Round : 981
Round : 982
Round : 983
Round : 984
WAR!!!!
Round : 985
Round : 986
Round : 987
Round : 988
Round : 989
Round : 990
Round : 991
Round : 992
Round : 993
Round : 994
Round : 995
Round : 996
Round : 997
Round : 998
Round : 999
Round : 1000
Round : 1001
Round : 1002
Round : 1003
Round : 1004
Round : 1005
Round : 1006
Round : 1007
Round : 1008
Round : 1009
Round : 1010
Round : 1011
Round : 1012
Round : 1013
Round : 1014
WAR!!!!
Round : 1015
Round : 1016
Round : 1017
Round : 1018
Round : 1019
Round : 1020
Round : 1021
Round : 1022
Round : 1023
Round : 1024
Round : 1025
Round : 1026
Round : 1027
Round : 1028
Round : 1029
Round : 1030
Round : 1031
Round : 1032
Round : 1033
Round : 1034
Round : 1035
Round : 1036
Round : 1037
Round : 1038
Round : 1039
Round : 1040
Round : 1041
Round : 1042
Round : 1043
Round : 1044
Round : 1045
Round : 1046
Round : 1047
Round : 1048
Round : 1049
Round : 1050
Round : 1051
Round : 1052
Round : 1053
Round : 1054
Round : 1055
Round : 1056
Round : 1057
Round : 1058
Round : 1059
Round : 1060
Round : 1061
Round : 1062
Round : 1063
Round : 1064
Round : 1065
Round : 1066
WAR!!!!
Round : 1067
Round : 1068
Round : 1069
Round : 1070
Round : 1071
Round : 1072
Round : 1073
Round : 1074
Round : 1075
Round : 1076
Round : 1077
Round : 1078
Round : 1079
Round : 1080
Round : 1081
Round : 1082
Round : 1083
Round : 1084
Round : 1085
Round : 1086
Round : 1087
WAR!!!!
Round : 1088
Round : 1089
Round : 1090
Round : 1091
Round : 1092
Round : 1093
Round : 1094
Round : 1095
Round : 1096
Round : 1097
Round : 1098
Round : 1099
Round : 1100
Round : 1101
Round : 1102
Round : 1103
Round : 1104
Round : 1105
Round : 1106
Round : 1107
Round : 1108
Round : 1109
Round : 1110
Round : 1111
Round : 1112
Round : 1113
Round : 1114
Round : 1115
Round : 1116
Round : 1117
Round : 1118
Round : 1119
Round : 1120
Round : 1121
Round : 1122
Round : 1123
Round : 1124
Round : 1125
Round : 1126
Round : 1127
Round : 1128
Round : 1129
Round : 1130
Round : 1131
Round : 1132
Round : 1133
Round : 1134
Round : 1135
Round : 1136
Round : 1137
Round : 1138
Round : 1139
Round : 1140
Round : 1141
Round : 1142
Round : 1143
Round : 1144
Round : 1145
Round : 1146
Round : 1147
Round : 1148
Round : 1149
Round : 1150
Round : 1151
Round : 1152
Round : 1153
Round : 1154
Round : 1155
Round : 1156
Round : 1157
Round : 1158
Round : 1159
Round : 1160
Round : 1161
Round : 1162
Round : 1163
Round : 1164
Round : 1165
Round : 1166
Round : 1167
Round : 1168
Round : 1169
Round : 1170
Round : 1171
Round : 1172
WAR!!!!
Round : 1173
Round : 1174
Round : 1175
Round : 1176
Round : 1177
Round : 1178
Round : 1179
Round : 1180
Round : 1181
Round : 1182
Round : 1183
Round : 1184
WAR!!!!
Round : 1185
Round : 1186
Round : 1187
Round : 1188
Round : 1189
Round : 1190
WAR!!!!
Round : 1191
Round : 1192
Round : 1193
Round : 1194
Round : 1195
Round : 1196
Round : 1197
Round : 1198
WAR!!!!
Round : 1199
Round : 1200
Round : 1201
Round : 1202
Round : 1203
Round : 1204
Round : 1205
Round : 1206
Round : 1207
Round : 1208
Round : 1209
Round : 1210
Round : 1211
Round : 1212
Round : 1213
Round : 1214
Round : 1215
Round : 1216
Round : 1217
Round : 1218
Round : 1219
WAR!!!!
WAR!!!!
Player 2 unable to declare War !! Player 1 won

MILESSTONE PROJECT - BLACK JACK GAME

In [237]:
import random

suits = ('Hearts', 'Diamonds', 'Spades', 'Clubs')
ranks = ('Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine', 'Ten', 'Jack', 'Queen', 'King', 'Ace')
values = {'Two':2, 'Three':3, 'Four':4, 'Five':5, 'Six':6, 'Seven':7, 'Eight':8, 'Nine':9, 'Ten':10, 'Jack':10,
         'Queen':10, 'King':10, 'Ace':11}

playing = True

In [238]:
class Card:

    def __init__(self,suit,rank):
        self.suit = suit
        self.rank = rank
        
    def __str__(self):
        return self.rank + ' of ' + self.suit

In [241]:
two_of_hearts=Card('Hearts','Two')

In [242]:
print(two_of_hearts)

Two of Hearts

In [243]:
str(two_of_hearts)

'Two of Hearts'

In [244]:
values[two_of_hearts.rank]

2

In [245]:
class Deck:
    
    def __init__(self):
        self.deck = []  # start with an empty list
        for suit in suits:
            for rank in ranks:
                self.deck.append(Card(suit,rank))  # build Card objects and add them to the list
    
    def __str__(self):
        deck_comp = ''  # start with an empty string
        for card in self.deck:
            deck_comp += '\n '+card.__str__() # add each Card object's print string
        return 'The deck has:' + deck_comp

    def shuffle(self):
        random.shuffle(self.deck)
        
    def deal(self):
        single_card = self.deck.pop()
        return single_card

In [246]:
new_deck=Deck()
new_deck.shuffle()
print(new_deck)

The deck has:
 Five of Clubs
 Eight of Diamonds
 Ace of Spades
 Three of Hearts
 King of Diamonds
 Two of Diamonds
 Six of Spades
 Eight of Clubs
 Queen of Diamonds
 Queen of Clubs
 Six of Diamonds
 Four of Spades
 Seven of Diamonds
 Nine of Diamonds
 Jack of Hearts
 Queen of Hearts
 Two of Spades
 Ten of Spades
 Six of Hearts
 Ace of Clubs
 Two of Clubs
 Seven of Clubs
 Nine of Clubs
 King of Spades
 Nine of Hearts
 Eight of Hearts
 Five of Diamonds
 Three of Diamonds
 Jack of Clubs
 Five of Spades
 Four of Hearts
 Queen of Spades
 Nine of Spades
 Ace of Diamonds
 Jack of Diamonds
 King of Hearts
 Three of Clubs
 Five of Hearts
 Four of Clubs
 King of Clubs
 Ace of Hearts
 Six of Clubs
 Eight of Spades
 Ten of Clubs
 Two of Hearts
 Jack of Spades
 Ten of Hearts
 Seven of Hearts
 Seven of Spades
 Three of Spades
 Four of Diamonds
 Ten of Diamonds

In [247]:
print(new_deck.deck[-1])

Ten of Diamonds

In [248]:
new_deck.shuffle()

In [249]:
print(new_deck.deck[-1])

Four of Spades

In [250]:
print(new_deck.deal())

Four of Spades

In [251]:
len(new_deck.deck)

51

In [252]:
class Hand:
    def __init__(self):
        self.cards = []  # start with an empty list as we did in the Deck class
        self.value = 0   # start with zero value
        self.aces = 0    # add an attribute to keep track of aces
    
    def add_card(self,card):
        self.cards.append(card)
        self.value += values[card.rank]
        
        #count the aces
        if card.rank=='Aces':
            self.aces+=1
    
    def adjust_for_ace(self):
        # IF total value > 21 n still have  a aces
        # then change my aces 1 instead of 11
        while self.value>21 and self.aces>0:
            self.value-=10
            self.aces-=1

In [253]:

test_deck = Deck()
test_deck.shuffle()
test_player = Hand()
test_player.add_card(test_deck.deal())
test_player.add_card(test_deck.deal())
test_player.value

20

In [187]:

for card in test_player.cards:
    print(card)

Five of Diamonds
Ace of Spades

In [254]:

class Chips:
    
    def __init__(self):
        self.total = 100  # This can be set to a default value or supplied by a user input
        self.bet = 0
        
    def win_bet(self):
        self.total += self.bet
    
    def lose_bet(self):
        self.total -= self.bet

In [256]:
def take_bet(chips):
    
    while True:
        try:
            chips.bet = int(input('How many chips would you like to bet? '))
        except ValueError:
            print('Sorry, a bet must be an integer!')
        else:
            if chips.bet > chips.total:
                print("Sorry, your bet can't exceed",chips.total)
            else:
                break

In [257]:
def hit(deck,hand):
    single_card=deck.deal()
    hand.add_card(single_card)
    hand.adjust_for_ace()

In [258]:
def hit_or_stand(deck,hand):
    global playing  # to control an upcoming while loop
    
    while True:
        x = input("Would you like to Hit or Stand? Enter 'h' or 's' ")
        
        if x[0].lower() == 'h':
            hit(deck,hand)  # hit() function defined above

        elif x[0].lower() == 's':
            print("Player stands. Dealer is playing.")
            playing = False

        else:
            print("Sorry, please try again.")
            continue
        break

In [259]:
def player_busts(player,dealer,chips):
    print("Player busts!")
    chips.lose_bet()

def player_wins(player,dealer,chips):
    print("Player wins!")
    chips.win_bet()

def dealer_busts(player,dealer,chips):
    print("Dealer busts!")
    chips.win_bet()
    
def dealer_wins(player,dealer,chips):
    print("Dealer wins!")
    chips.lose_bet()
    
def push(player,dealer):
    print("Dealer and Player tie! It's a push.")

In [260]:
def show_some(player,dealer):
    print("\nDealer's Hand:")
    print(" <card hidden>")
    print('',dealer.cards[1])  
    print("\nPlayer's Hand:", *player.cards, sep='\n ')
    
def show_all(player,dealer):
    print("\nDealer's Hand:", *dealer.cards, sep='\n ')
    print("Dealer's Hand =",dealer.value)
    print("\nPlayer's Hand:", *player.cards, sep='\n ')
    print("Player's Hand =",player.value)

The asterisk * symbol is used to print every item in a collection, and the sep='\n ' argument prints each item on a separate line.

In [261]:

while True:
    # Print an opening statement
    print('Welcome to BlackJack! Get as close to 21 as you can without going over!\n\
    Dealer hits until she reaches 17. Aces count as 1 or 11.')
    
    # Create & shuffle the deck, deal two cards to each player
    deck = Deck()
    deck.shuffle()
    
    player_hand = Hand()
    player_hand.add_card(deck.deal())
    player_hand.add_card(deck.deal())
    
    dealer_hand = Hand()
    dealer_hand.add_card(deck.deal())
    dealer_hand.add_card(deck.deal())
            
    # Set up the Player's chips
    player_chips = Chips()  # remember the default value is 100    
    
    # Prompt the Player for their bet
    take_bet(player_chips)
    
    # Show cards (but keep one dealer card hidden)
    show_some(player_hand,dealer_hand)
    
    while playing:  # recall this variable from our hit_or_stand function
        
        # Prompt for Player to Hit or Stand
        hit_or_stand(deck,player_hand) 
        
        # Show cards (but keep one dealer card hidden)
        show_some(player_hand,dealer_hand)  
        
        # If player's hand exceeds 21, run player_busts() and break out of loop
        if player_hand.value > 21:
            player_busts(player_hand,dealer_hand,player_chips)
            break        


    # If Player hasn't busted, play Dealer's hand until Dealer reaches 17 
    if player_hand.value <= 21:
        
        while dealer_hand.value < 17:
            hit(deck,dealer_hand)    
    
        # Show all cards
        show_all(player_hand,dealer_hand)
        
        # Run different winning scenarios
        if dealer_hand.value > 21:
            dealer_busts(player_hand,dealer_hand,player_chips)

        elif dealer_hand.value > player_hand.value:
            dealer_wins(player_hand,dealer_hand,player_chips)

        elif dealer_hand.value < player_hand.value:
            player_wins(player_hand,dealer_hand,player_chips)

        else:
            push(player_hand,dealer_hand)        
    
    # Inform Player of their chips total 
    print("\nPlayer's winnings stand at",player_chips.total)
    
    # Ask to play again
    new_game = input("Would you like to play another hand? Enter 'y' or 'n' ")
    
    if new_game[0].lower()=='y':
        playing=True
        continue
    else:
        print("Thanks for playing!")
        break

Welcome to BlackJack! Get as close to 21 as you can without going over!
    Dealer hits until she reaches 17. Aces count as 1 or 11.
How many chips would you like to bet? 40

Dealer's Hand:
 <card hidden>
 Seven of Spades

Player's Hand:
 Three of Clubs
 Two of Spades
Would you like to Hit or Stand? Enter 'h' or 's' h

Dealer's Hand:
 <card hidden>
 Seven of Spades

Player's Hand:
 Three of Clubs
 Two of Spades
 King of Hearts
Would you like to Hit or Stand? Enter 'h' or 's' h

Dealer's Hand:
 <card hidden>
 Seven of Spades

Player's Hand:
 Three of Clubs
 Two of Spades
 King of Hearts
 Two of Hearts
Would you like to Hit or Stand? Enter 'h' or 's' h

Dealer's Hand:
 <card hidden>
 Seven of Spades

Player's Hand:
 Three of Clubs
 Two of Spades
 King of Hearts
 Two of Hearts
 King of Spades
Player busts!

Player's winnings stand at 60
Would you like to play another hand? Enter 'y' or 'n' n
Thanks for playing!

In [262]:
#SECTION - 12
#98

DECORATORS
-----------
Decorators dynamically alter the functionality of a function, method, or class without having to directly use subclasses or change the source code of the function being decorated. Using decorators in Python also ensures that your code is DRY(Don't Repeat Yourself)

In [805]:
def func():
    return 1

In [806]:
func()

1

In [807]:
def hello():
    return 'Hello'

In [808]:
hello()

'Hello'

In [809]:
greet=hello

In [810]:
greet()

'Hello'

In [811]:
del hello

In [812]:
hello()

NameError: name 'hello' is not defined

In [813]:
#example

In [814]:
def hello(name='jose'):
    print('the hello() has been excuted')
    
    def greet():
        print("this is the func inside the hello")

In [815]:
hello()

the hello() has been excuted

In [816]:
def hello(name='jose'):
    print('the hello() has been excuted')
    
    def greet():
        return '\t this is the func inside the hello'
    print(greet())

In [817]:
hello()

the hello() has been excuted
	 this is the func inside the hello

In [818]:
def hello(name='jose'):
    print('the hello() has been excuted')
    
    def greet():
        return '\t this is the greet func inside the hello'
    
    def welcome():
        return '\t this is the welcome func inside the hello'
    
    print(greet())
    print(welcome())
    print("this is the end of hello function")

In [819]:
hello()

the hello() has been excuted
	 this is the greet func inside the hello
	 this is the welcome func inside the hello
this is the end of hello function

In [820]:
def hello(name='jose'):
    print('the hello() has been excuted')
    
    def greet():
        return '\t this is the greet func inside the hello'
    
    def welcome():
        return '\t this is the welcome func inside the hello'
    
    print('I m going to Return a Function')
    
    if name=='jose':
        return greet
    else:
        return welcome

In [821]:
new=hello()

the hello() has been excuted
I m going to Return a Function

In [822]:
new()

'\t this is the greet func inside the hello'

In [823]:
new

In [824]:
#example 2

In [825]:
def super_cool():
    
    def cool():
        return 'I m cool'
    
    return cool

In [826]:
some_fun=super_cool()

In [827]:
some_fun

In [828]:
some_fun()

'I m cool'

In [829]:
#example 3

In [830]:
def hello():
    return 'hello'

In [831]:
def other(some_func):
    print('Other code excute here!!')
    print(some_func())

In [832]:
other(hello)  #passing a fun to other fun() and excuted in new func()

Other code excute here!!
hello

In [833]:
#decorator Like ON/OFF the function Using @ symbol

In [834]:
#example 4

In [835]:
def new_decorator(a):
    
    def wrap_fun():
        
        print("before wrap func and i m excuted")
        
        a()
    
        print('after wrap func and i m excuted')
        
    return wrap_fun

In [836]:
def func_needs_decorator():
    print('i want to be decorator')

In [837]:
test_decorator=new_decorator(func_needs_decorator)

In [838]:
test_decorator

In [839]:
test_decorator()

before wrap func and i m excuted
i want to be decorator
after wrap func and i m excuted

In [840]:
#   (or) use of decorator

@new_decorator
def func_needs_decorator():
    print('i want to be decorator')

In [841]:
func_needs_decorator()

before wrap func and i m excuted
i want to be decorator
after wrap func and i m excuted

SECTION - 13

PYHTON GENERATORS
-----------------------------------
A generator-function is defined like a normal function, but whenever it needs to generate a value, it does so with the yield keyword rather than return. If the body of a def contains yield, the function automatically becomes a generator function.

In [842]:
#100

In [843]:
def create_cubes(n):
    result=[]
    for i in range(n):
        result.append(i**3)
    
    return result

In [844]:
create_cubes(10)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [845]:
#generator

In [846]:
def create_cubes(n):
    for i in range(n):
        yield (i**3)

In [847]:
create_cubes(10)

In [848]:
list(create_cubes(10))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [849]:
#Fibbonaci series

In [850]:
def fibbo(n):
    a=0
    b=1
    
    for i in range(n):
        c=a+b
        yield(a)
        a,b=b,c

In [851]:
fibbo(10)

In [852]:
list(fibbo(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [853]:
#fibbo using normal func

In [854]:
def fibbo(n):
    a=0
    b=1
    result=[]
    for i in range(n):
        c=a+b
        result.append(c)
        a,b=b,c
    return result

In [855]:
fibbo(10)

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [856]:
#example 1

In [857]:
def simple_fun():
    for i in range(3):
        yield(i)

In [858]:
 simple_fun()

In [859]:
list(simple_fun())

[0, 1, 2]

In [860]:
g=simple_fun()

next()
------
The next() function returns the next item in an iterator.

In [861]:
print(next(g))

0

In [862]:
print(next(g))

1

In [863]:
print(next(g))

2

iter()
------
The iter() function returns an iterator object.

In [864]:
s='hello'

In [865]:
a=iter(s)

In [866]:
print(next(a))

h

In [867]:
print(next(a))

e

In [868]:
#homework - GENERATOR

In [869]:
#problem 1
def gensquares(N):
    for i in range(N):
        yield(i**2)

In [870]:
list(gensquares(10))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [871]:
#problem 2
def rand_num(low,high,n):
    for i in range(n):
        yield(random.randint(low,high))

In [872]:
list(rand_num(1,10,12))

[10, 8, 3, 3, 4, 9, 8, 3, 2, 3, 5, 6]

In [873]:
#problem 3
s='hello'
for i in iter(s):
    print(i)

h
e
l
l
o

problem 4:
Explain a use case for a generator using a yield statement where you would not want to use a normal function with a return statement.

If the output has the potential of taking up a large amount of memory and you only intend to iterate through it, you would want to use a generator. (Multiple answers are acceptable here!)

In [874]:
my_list = [1,2,3,4,5]

gencomp = (item for item in my_list if item > 3)

for item in gencomp:
    print(item)

4
5

ADVANCE PYTHON MODULES
---------------------------------------------

In [1]:
#section-14

In [2]:
#104)python collection modules

In [3]:
from collections import Counter

In [4]:
mylist=[1,1,1,1,1,1,2,2,2,2,2,3,3,3,3,3]

In [5]:
Counter(mylist)

Counter({1: 6, 2: 5, 3: 5})

In [6]:
mylist=['a','a',10,10,10]

In [7]:
Counter(mylist)

Counter({'a': 2, 10: 3})

In [8]:
Counter('aaaaaaaabbbbbbccccccc')

Counter({'a': 8, 'b': 6, 'c': 7})

In [9]:
sentence="how many times does each word show up in the sentence with a word"

In [10]:
Counter(sentence.split())

Counter({'how': 1,
         'many': 1,
         'times': 1,
         'does': 1,
         'each': 1,
         'word': 2,
         'show': 1,
         'up': 1,
         'in': 1,
         'the': 1,
         'sentence': 1,
         'with': 1,
         'a': 1})

In [11]:
Counter(sentence.lower().split())

Counter({'how': 1,
         'many': 1,
         'times': 1,
         'does': 1,
         'each': 1,
         'word': 2,
         'show': 1,
         'up': 1,
         'in': 1,
         'the': 1,
         'sentence': 1,
         'with': 1,
         'a': 1})

In [12]:
letters=('aaaaaabbbbbbbcccccccdddd')

In [13]:
c=Counter(letters)

In [14]:
c

Counter({'a': 6, 'b': 7, 'c': 7, 'd': 4})

In [15]:
c.most_common()

[('b', 7), ('c', 7), ('a', 6), ('d', 4)]

In [16]:
list(c)

['a', 'b', 'c', 'd']

Common patterns when using the Counter() object
------------------------------------------------------------------------
sum(c.values())                 # total of all counts
c.clear()                       # reset all counts
list(c)                         # list unique elements
set(c)                          # convert to a set
dict(c)                         # convert to a regular dictionary
c.items()                       # convert to a list of (elem, cnt) pairs
Counter(dict(list_of_pairs))    # convert from a list of (elem, cnt) pairs
c.most_common()[:-n-1:-1]       # n least common elements
c += Counter()                  # remove zero and negative counts

In [17]:
#2 its can assign default values in dict
from collections import defaultdict

In [18]:
d={'a':10}

In [19]:
d

{'a': 10}

In [20]:
d['a']

10

In [21]:
d['wrong']

KeyError: 'wrong'

In [22]:
d=defaultdict(lambda:0)

In [23]:
d['collection']=100

In [24]:
d['collection']

100

In [25]:
d['wrongkey']

0

In [26]:
d

defaultdict(<function __main__.<lambda>()>, {'collection': 100, 'wrongkey': 0})

#3 
namedtuple is a factory function for making a tuple class. With that class we can create tuples that are callable by name also.

In [27]:
from collections import namedtuple

In [28]:
mytup=(10,20,30)

In [29]:
mytup[0]

10

In [30]:
Dog=namedtuple('Dog',['age','breed','name'])

In [31]:
sammy=Dog(age=10,breed='husky',name='sam')

In [32]:
sammy

Dog(age=10, breed='husky', name='sam')

In [33]:
type(sammy)

__main__.Dog

In [34]:
sammy.age

10

In [35]:
sammy.breed

'husky'

In [36]:
sammy.name

'sam'

In [37]:
sammy[0]

10

shutil and OS modules
--------------------------------

In [38]:
#105 opening and reading file and folder

In [39]:
with open('C:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook\\practice.txt',mode='w') as f:
    f.write('One New file created')

In [40]:
pwd

'c:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook'

In [41]:
with open('C:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook\\practice.txt',mode='r') as f:
    a=f.read()

In [42]:
a

'One New file created'

In [43]:
import os

In [44]:
os.getcwd() #cwd - current working directory pwd-print working directory

'c:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook'

In [45]:
os.listdir()

['.ipynb_checkpoints',
 'abcdef.txt',
 'Exception handling',
 'myfile.txt',
 'myprogram.py',
 'myscript.py',
 'my_main_packages',
 'New Text Document.txt',
 'one.py',
 'open and close file',
 'practice.txt',
 'PYTHON-Tutorials.ipynb',
 'testfile',
 'two.py',
 'txtfile.txt',
 '__pycache__']

In [46]:
os.listdir('C:\\Users')

['All Users',
 'Default',
 'Default User',
 'desktop.ini',
 'Dinesh.LAPTOP-9QL743SB',
 'Public']

MOVING FILES
------------

In [47]:
import shutil

In [48]:
shutil.move('practice.txt','C:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook\\open and close file')

Error: Destination path 'C:\Users\Dinesh.LAPTOP-9QL743SB\Desktop\Py-jupyter notebook\open and close file\practice.txt' already exists

In [49]:
os.listdir('C:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook\\open and close file')

['practice.txt']


Deleting Files
-------------------
NOTE: The os module provides 3 methods for deleting files:


Deleting Files
NOTE: The os module provides 3 methods for deleting files:

- os.unlink(path) which deletes a file at the path your provide
- os.rmdir(path) which deletes a folder (folder must be empty) at the path your provide
- shutil.rmtree(path) this is the most dangerous, as it will remove all files and folders contained in the path. All of these methods can not be reversed! Which means if you make a mistake you won't be able to recover the file. Instead we will use the send2trash module. A safer alternative that sends deleted files to the trash bin instead of permanent removal.**os.unlink(path) which deletes a file at the path your provide
os.rmdir(path) which deletes a folder (folder must be empty) at the path your provide
shutil.rmtree(path) this is the most dangerous, as it will remove all files and folders contained in the path. All of these methods can not be reversed! Which means if you make a mistake you won't be able to recover the file. Instead we will use the send2trash module. A safer alternative that sends deleted files to the trash bin instead of permanent removal.

In [50]:
import send2trash

In [51]:
os.listdir('C:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook\\open and close file')

['practice.txt']

In [52]:
send2trash.send2trash('C:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook\\open and close file\\nah.txt')

In [53]:
os.listdir('C:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook\\open and close file')

['practice.txt']

OS.WALK()
---------
os.walk is one of the best bets for finding all subdirs and files in a directory

In [54]:
file_path="C:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook"

In [55]:
for folder,subfolder,files in os.walk(file_path):
    print("\n")
    print(f'THE FOLDERS: {folder}')
    print("\n")
    
    for i in subfolder:
        
        print(f'\t subfolder:{i}')
        print('\n')
        ""
    for file in files:
        
        print(f'\t\t files:{file}')
        print('\n')

THE FOLDERS: C:\Users\Dinesh.LAPTOP-9QL743SB\Desktop\Py-jupyter notebook


	 subfolder:.ipynb_checkpoints


	 subfolder:Exception handling


	 subfolder:my_main_packages


	 subfolder:open and close file


	 subfolder:__pycache__


		 files:abcdef.txt


		 files:myfile.txt


		 files:myprogram.py


		 files:myscript.py


		 files:New Text Document.txt


		 files:one.py


		 files:practice.txt


		 files:PYTHON-Tutorials.ipynb


		 files:testfile


		 files:two.py


		 files:txtfile.txt




THE FOLDERS: C:\Users\Dinesh.LAPTOP-9QL743SB\Desktop\Py-jupyter notebook\.ipynb_checkpoints


		 files:PYTHON-Tutorials-checkpoint.ipynb




THE FOLDERS: C:\Users\Dinesh.LAPTOP-9QL743SB\Desktop\Py-jupyter notebook\Exception handling


	 subfolder:__pycache__


		 files:cap.py


		 files:simp.py


		 files:simple.py


		 files:text_cap.py




THE FOLDERS: C:\Users\Dinesh.LAPTOP-9QL743SB\Desktop\Py-jupyter notebook\Exception handling\__pycache__


		 files:cap.cpython-37.pyc




THE FOLDERS: C:\Users\Dinesh.LAPTOP-9QL743SB\Desktop\Py-jupyter notebook\my_main_packages


	 subfolder:mysubpackage


	 subfolder:__pycache__


		 files:some_main_script.py


		 files:__init__.py




THE FOLDERS: C:\Users\Dinesh.LAPTOP-9QL743SB\Desktop\Py-jupyter notebook\my_main_packages\mysubpackage


	 subfolder:__pycache__


		 files:mysubscript.py


		 files:__init__.py




THE FOLDERS: C:\Users\Dinesh.LAPTOP-9QL743SB\Desktop\Py-jupyter notebook\my_main_packages\mysubpackage\__pycache__


		 files:mysubscript.cpython-37.pyc


		 files:__init__.cpython-37.pyc




THE FOLDERS: C:\Users\Dinesh.LAPTOP-9QL743SB\Desktop\Py-jupyter notebook\my_main_packages\__pycache__


		 files:some_main_script.cpython-37.pyc


		 files:__init__.cpython-37.pyc




THE FOLDERS: C:\Users\Dinesh.LAPTOP-9QL743SB\Desktop\Py-jupyter notebook\open and close file


		 files:practice.txt




THE FOLDERS: C:\Users\Dinesh.LAPTOP-9QL743SB\Desktop\Py-jupyter notebook\__pycache__


		 files:myscript.cpython-37.pyc


		 files:one.cpython-37.pyc

PYTHON DATETIME MODULE
------------------------------------------

In [56]:
import datetime

In [57]:
mytime=datetime.time(10,20)

In [58]:
mytime

datetime.time(10, 20)

In [59]:
print(mytime)

10:20:00

In [60]:
mytime.microsecond

0

In [61]:
type(mytime)

datetime.time

In [62]:
#date
today=datetime.date.today()

In [63]:
today

datetime.date(2020, 11, 6)

In [64]:
print(today)

2020-11-06

In [65]:
today.year

2020

In [66]:
today.month

11

In [67]:
today.day

6

In [68]:
today.ctime()

'Fri Nov  6 00:00:00 2020'

In [69]:
from datetime import datetime

In [70]:
mydatetime=datetime(2021,8,2,13,2,1)

In [71]:
print(mydatetime)

2021-08-02 13:02:01

In [72]:
mydatetime=mydatetime.replace(2020,8,2,13,2,1)

In [73]:
print(mydatetime)

2020-08-02 13:02:01

In [74]:
#date

In [75]:
from datetime import date

In [76]:
date1=date(2021,3,3)

In [77]:
date2=date(2020,3,3)

In [78]:
date1-date2

datetime.timedelta(days=365)

In [79]:
result=date1-date2

In [80]:
result

datetime.timedelta(days=365)

In [81]:
type(result)

datetime.timedelta

In [82]:
result.days

365

In [83]:
datetime1=datetime(2021,10,11,13,22,0)

In [84]:
datetime2=datetime(2020,10,11,13,12,0)

In [85]:
datetime1-datetime2

datetime.timedelta(days=365, seconds=600)

In [86]:
mydiff=datetime1-datetime2

In [87]:
mydiff.seconds

600

In [88]:
mydiff.total_seconds()

31536600.0

In [89]:
600/60/60

0.16666666666666666

PYTHON MATH AND RANDOM MODULES
----------------------------------------------------------

In [90]:
import math

In [91]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [92]:
value=4.55

In [93]:
math.floor(value)

4

In [94]:
math.ceil(value)

5

In [95]:
round(4.35)

4

In [96]:
round(5.5) #all odds

6

In [97]:
math.pi

3.141592653589793

In [98]:
from math import pi

In [99]:
pi

3.141592653589793

In [100]:
math.e

2.718281828459045

In [101]:
math.inf

inf

In [102]:
math.nan

nan

In [103]:
#NUMpy its a library designed for numerical process

In [104]:
math.e

2.718281828459045

In [105]:
math.log(math.e)

1.0

In [106]:
math.log(100,10)

2.0

In [107]:
math.sin(10)

-0.5440211108893698

In [108]:
math.degrees(pi/2)

90.0

In [109]:
math.radians(180)

3.141592653589793

In [110]:
#random libray

In [111]:
import random

In [112]:
random.randint(0,100)

91

In [115]:
random.seed(101)
random.randint(0,100)

74

In [116]:
import random

random.seed(10)

for i in range(5):    
    print(random.randint(1, 100))

74
5
55
62
74

In [117]:
import random

random.seed(10)

for i in range(5):    
    print(random.randint(1, 100))

74
5
55
62
74

In [118]:
random.seed(101)
print(random.randint(0,100))
print(random.randint(0,100))
print(random.randint(0,100))
print(random.randint(0,100))
print(random.randint(0,100))

74
24
69
45
59

Execute the above program multiple times...

1st attempt: prints 5 random integers in the range of 1 - 100

2nd attempt: prints same 5 random numbers appeared in the above execution.

3rd attempt: same

.....So on

Explanation: Every time we are running the above program we are setting seed to 10, then random generator takes this as a reference variable. And then by doing some predefined formula, it generates a random number.

Hence setting seed to 10 in the next execution again sets reference number to 10 and again the same behavior starts...

As soon as we reset the seed value it gives the same plants.

Note: Change the seed value and run the program, you'll see a different random sequence than the previous one.

In [119]:
mylist=list(range(0,20))

In [120]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [121]:
random.choice(mylist)

1

In [122]:
#sample with replacement

In [123]:
random.choices(population=mylist,k=10) #randomly picked 10 number in the list

[13, 4, 4, 5, 13, 4, 19, 1, 3, 1]

In [124]:
#sample without replacement

In [125]:
random.sample(population=mylist,k=10) #without dumplicate number

[17, 11, 6, 15, 10, 3, 16, 12, 19, 18]

In [126]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [127]:
random.shuffle(mylist)

In [128]:
mylist

[18, 8, 0, 11, 17, 16, 7, 19, 4, 5, 12, 15, 10, 1, 3, 9, 14, 13, 2, 6]

In [129]:
random.uniform(a=0,b=100) #it pick every num in the limit incluing floating point

74.44690143237648

In [130]:
random.gauss(mu=0,sigma=1)

-1.7665992795896235

PYTHON DEBUGGER
-------------------------------
The module pdb defines an interactive source code debugger for Python program

In [131]:
x={1,2,3}
y=2
z=3

In [132]:
result=y+z
result2=z+x
print(result)
print(result2)

TypeError: unsupported operand type(s) for +: 'int' and 'set'

In [133]:
#so we'll use pdb python debugger

In [134]:
import pdb

x=[1,2,3]
y=2
z=3

result1=y+z
pdb.set_trace() #tracking your code output
result2=y+x

--Return--
> <ipython-input-134-1a17f0220333>(8)<module>()->None
-> pdb.set_trace() #tracking your code output
(Pdb) 2
2
(Pdb) 3
3
(Pdb) z
3
(Pdb) result1
5
(Pdb) x
[1, 2, 3]
(Pdb) y
2
(Pdb) result2
*** NameError: name 'result2' is not defined
(Pdb) exit

BdbQuit:

Python Regular Expression
----------------------------------------



Regular Expression, is a sequence of characters that forms a search pattern.

RegEx can be used to check if a string contains the specified search pattern.




Python has a built-in package called re, which can be used to work with Regular Expressions.

In [135]:
 text='the agent phone number is 555-555-1234. call soon!!'

In [136]:
"phone" in text

True

In [137]:
import re

In [138]:
pattern='phone'

In [139]:
re.search(pattern,text)  #Returns a Match object if there is a match anywhere in the string

In [140]:
pattern='Not in text'

In [141]:
match=re.search(pattern,text)

In [142]:
pattern='phone'

In [143]:
match=re.search(pattern,text)

In [144]:
match

In [145]:
match.span() # Returns the index location of match

(10, 15)

In [146]:
match.start() # Returns the starting index

10

In [147]:
match.end() # Returns the ending Index

15

In [148]:
match.group()

'phone'

In [149]:
match= re.search('phone',text) # returns the match and the index position

In [150]:
match

In [151]:
text='hiii i m Daniel, i have realme phone ,phone is the fine tech '

In [152]:
matches=re.findall('phone',text) #Returns a list containing all matches

In [153]:
matches

['phone', 'phone']

In [154]:
len(matches)

2

In [155]:
for match in re.finditer('phone',text): # its a combination of re.search and re.findall
    print(match)
    print(match.span())
    print(match.group()) #its  return the match in list

<re.Match object; span=(31, 36), match='phone'>
(31, 36)
phone
<re.Match object; span=(38, 43), match='phone'>
(38, 43)
phone

In [156]:
for match in re.finditer('phone',text): # its a combination of re.search and re.findall
    print(match.group())

phone
phone

Regular expression - II
---------------------------------

In [157]:
import re
text="Hii I'm Daniel. My phone Number is:969-801-5124"

In [158]:
match=re.search("969-801-5124",text)

In [159]:
match

We can use IDENTIFIER to simplify the expression

Identifier
-----------------

Character	    Description	      Example Pattern Code	Exammple Match
------------   -----------        --------------------  --------------
\d	            A digit	               file_\d\d	       file_25
\w	            Alphanumeric	       \w-\w\w\w	       A-b_1
\s	            White space	            a\sb\sc	           a b c
\D	            A non digit	            \D\D\D	           ABC
\W	            Non-alphanumeric	    \W\W\W\W\W	       *-+=)
\S	            Non-whitespace	        \S\S\S\S	       Yoyo

In [160]:
import re
text="Hii I'm Daniel. My phone Number is: 969-801-5124"

In [161]:
match=re.search(r'\d\d\d-\d\d\d-\d\d\d\d',text)

In [162]:
match

In [164]:
match.group()

'969-801-5124'

To simplify the Identifiers ,To introduced Quantifier

Quantifiers
-----------------


Character	Description	                    Example Pattern Code	Exammple Match
---------    ---------                        -------------           -----------
   +	    Occurs one or more times	        Version \w-\w+	    Version A-b1_1
   {3}	    Occurs exactly 3 times	            \D{3}	            abc
   {2,4}	Occurs 2 to 4 times	                \d{2,4}	            123
   {3,}	    Occurs 3 or more	                \w{3,}	            anycharacters
   \*	    Occurs zero or more times	        A\*B\*C*	        AAACC
   ?	    Once or none	                    plurals?	        plural

In [165]:
text="Hii I'm Daniel. My phone Number is: 969-801-5124"

In [166]:
match=re.search(r'\d{3}-\d{3}-\d{4}',text)

In [167]:
match

In [168]:
match.group()

'969-801-5124'

In [169]:
#we want to subgroup the pattern or string ,we use re.compiler() function with () paranthesis

In [170]:
text="Hii I'm Daniel. My phone Number is: 969-801-5124"

In [171]:
match=re.compile(r'(\d{3})-(\d{3})-(\d{4})')

In [172]:
result=re.search(match,text)

In [173]:
result

In [174]:
result.group()

'969-801-5124'

In [175]:
result.group(1)

'969'

In [176]:
result.group(2)

'801'

In [177]:
result.group(3)

'5124'

Regular Expression - III
---------------------------------

In [178]:
#Addtional  Regex syntax

| - or operator

In [179]:
re.search(r'cat|dog','the cat is here')

In [180]:
re.search(r'cat|dog','the dog is here')

.(dot) - Wildcard operator

In [1140]:
re.findall(r'.at','the cat in the hat sat there')

['cat', 'hat', 'sat']

In [1141]:
re.findall(r'...at','the cat in the hat want splat')

['e cat', 'e hat', 'splat']

^ - start with number

In [181]:
re.findall(r'^\d','1 is a number')

['1']

In [182]:
re.findall(r'^\d','the 2 is a number')

[]

$ - end with number

In [183]:
re.findall(r'\d$','the number is 2')

['2']

[^\d] - exculde digit(without number)

In [184]:
pharse='the are 3 number 34 inside 5 this sentence'

In [185]:
pattern=r'[^\d]'

In [186]:
re.findall(pattern,pharse)

['t',
 'h',
 'e',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 ' ',
 'n',
 'u',
 'm',
 'b',
 'e',
 'r',
 ' ',
 ' ',
 'i',
 'n',
 's',
 'i',
 'd',
 'e',
 ' ',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 'e',
 'n',
 't',
 'e',
 'n',
 'c',
 'e']

In [187]:
pattern=r'[^\d]+' #one or more times

In [188]:
re.findall(pattern,pharse)

['the are ', ' number ', ' inside ', ' this sentence']

In [189]:
test_pharse='this is a staring! But it has punction.How can we remove it?'

In [190]:
re.findall(r'[^!.?]+',test_pharse)

['this is a staring', ' But it has punction', 'How can we remove it']

In [191]:
clean=re.findall(r'[^!.? ]+',test_pharse) #remove the space

In [192]:
' '.join(clean)

'this is a staring But it has punction How can we remove it'

In [193]:
text = 'Only find the hypen-words in this sentence. But you do not know how long-ish they are'

In [194]:
pattern=r'[\w]+-[\w]'

In [195]:
re.findall(pattern,text)

['hypen-w', 'long-i']

In [196]:
# if we write like r'\w+-\w. but its hard to read .so we group the [] []

In [197]:
# Find words that start with cat and end with one of these options: 'fish','nap', or 'claw'
text = 'Hello, would you like some catfish?'
texttwo = "Hello, would you like to take a catnap?"
textthree = "Hello, have you seen this caterpillar?"

In [198]:
re.search(r'cat(fish|nap|claw)',text)

In [199]:
re.search(r'cat(fish|nap|claw)',texttwo)

In [200]:
re.search(r'cat(fish|nap|claw)',textthree)

In [1174]:
re.search(r'cat(fish|nap|erpillar)',textthree)

Timing your code
-----------------

In [203]:
def fun1(n):
    return [str(i) for i in range(n)]

In [204]:
fun1(10)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [205]:
def fun2(n):
    return list(map(str,range(10)))

In [206]:
fun2(10)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [207]:
import time #calcute time

In [211]:
#CURRENT TIME BEFORE
start=time.time()
# RUN FUNCTION
fun1(10)
#CURRENT TIME AFTER
end=time.time()
#TIME ELAPSED
elapsed=end-start


print(elapsed)

0.0

In [212]:
#CURRENT TIME BEFORE
start=time.time()
# RUN FUNCTION
fun2(100)
#CURRENT TIME AFTER
end=time.time()
#TIME ELAPSED
elapsed=end-start


print(elapsed)

0.0

In [213]:
#Timeit module to calculate the program running

In [214]:
import timeit

In [216]:
stmt='''
fun1(100)
'''

In [217]:
setup='''
def fun1(n):
    return [str(i) for i in range(n)]
'''

In [223]:
timeit.timeit(stmt,setup,number=10000000)

233.29205770000044

In [219]:
stmt1='''
fun2(100)
'''

In [220]:
setup1='''
def fun2(n):
    return list(map(str,range(10)))
'''

In [222]:
timeit.timeit(stmt1,setup1,number=10000000)

22.36941929999921

In [225]:
%%timeit
fun1(100)

22.7 µs ± 1.85 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [226]:
%%timeit
fun2(100)

2.46 µs ± 208 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

ZIPPING and UNZIPPING THE FILES
----------------------------------------------------

In [227]:
pwd

'c:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook'

In [229]:
file=open('c:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook//zip and unzip//one.txt','w+')
file.write("ONE")
file.close()

In [230]:
file=open('c:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook//zip and unzip//two.txt','w+')
file.write("TWO")
file.close()

In [231]:
import zipfile

In [235]:
comp_file=zipfile.ZipFile('c:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook//zip and unzip//compfile.zip','w')

In [238]:
comp_file.write('c:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook//zip and unzip//one.txt',compress_type=zipfile.ZIP_DEFLATED)

In [239]:
comp_file.write('c:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook//zip and unzip//two.txt',compress_type=zipfile.ZIP_DEFLATED)

In [240]:
comp_file.close()

In [243]:
extract_obj=zipfile.ZipFile('c:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook//zip and unzip//compfile.zip','r')

In [245]:
extract_obj.extractall('c:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook//zip and unzip//extracedfile')

In [246]:
import shutil

In [247]:
pwd

'c:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook'

In [259]:
dir_to_zip=('c:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook//zip and unzip//extracedfile')

In [260]:
outputfile='c:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook//zip and unzip//done'

In [261]:
shutil.make_archive(outputfile,'zip',dir_to_zip)

'c:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook\\zip and unzip\\done.zip'

In [262]:
#unzipping using shutil
first_param='c:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook\\zip and unzip\\done.zip'

In [263]:
second_param='c:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook\\zip and unzip\\final_unzip'

In [264]:
shutil.unpack_archive(first_param,second_param,'zip')

In [265]:
# PUZZLE

In [292]:
import shutil
import os
import re

In [293]:
pwd

'c:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook'

In [294]:
os.listdir('c:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook')

['.ipynb_checkpoints',
 'abcdef.txt',
 'Exception handling',
 'myfile.txt',
 'myprogram.py',
 'myscript.py',
 'my_main_packages',
 'New Text Document.txt',
 'one.py',
 'open and close file',
 'practice.txt',
 'PYTHON-Tutorials.ipynb',
 'testfile',
 'two.py',
 'txtfile.txt',
 'unzipped',
 'unzip_me_for_instructions.zip',
 'zip and unzip',
 '__pycache__']

In [295]:
shutil.unpack_archive('unzip_me_for_instructions.zip','unzipped','zip')

In [296]:
os.listdir('c:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook\\unzipped\\extracted_content\\')

['Five', 'Four', 'Instructions.txt', 'One', 'Three', 'Two']

In [297]:
file=open('c:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook\\unzipped\\extracted_content\\Instructions.txt','r')
file.read()

'Good work on unzipping the file!\nYou should now see 5 folders, each with a lot of random .txt files.\nWithin one of these text files is a telephone number formated ###-###-#### \nUse the Python os module and regular expressions to iterate through each file, open it, and search for a telephone number.\nGood luck!'

In [299]:
path='c:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook\\unzipped'

In [303]:
for folder,subfolder,files in os.walk(path):
    print("\n")
    print(f'THE FOLDERS: {folder}')
    print("\n")
    
    for i in subfolder:
        
        print(f'\t subfolder:{i}')
        
    for file in files:
        
        print(f'\t\t files:{file}')

THE FOLDERS: c:\Users\Dinesh.LAPTOP-9QL743SB\Desktop\Py-jupyter notebook\unzipped


	 subfolder:extracted_content


THE FOLDERS: c:\Users\Dinesh.LAPTOP-9QL743SB\Desktop\Py-jupyter notebook\unzipped\extracted_content


	 subfolder:Five
	 subfolder:Four
	 subfolder:One
	 subfolder:Three
	 subfolder:Two
		 files:Instructions.txt


THE FOLDERS: c:\Users\Dinesh.LAPTOP-9QL743SB\Desktop\Py-jupyter notebook\unzipped\extracted_content\Five


		 files:AEITMYIRQLP.txt
		 files:APJKSRITGGX.txt
		 files:AQKATDFGXTS.txt
		 files:ARLKFCWIAJE.txt
		 files:AXJGVPVEFAS.txt
		 files:BNUQEHCFRTG.txt
		 files:BSKJDRNEZQM.txt
		 files:BTYWAHLHKBM.txt
		 files:BUGKBZWRRVI.txt
		 files:BVBURZZCAPR.txt
		 files:CAHBEVSVDDN.txt
		 files:COMGMZBJAYE.txt
		 files:CRFSDGYFSHA.txt
		 files:CSCLFZCDYYC.txt
		 files:CXBVCTRBBIE.txt
		 files:DDLASODUVPX.txt
		 files:DHZBAAYEADM.txt
		 files:DQPZQLBCJYP.txt
		 files:DYOPIIVMZOO.txt
		 files:DZUWWXYIAEL.txt
		 files:EAAOEPSAWMQ.txt
		 files:EIPWXMQZJKU.txt
		 files:ESIZWBHMGDP.txt
		 files:ETCUEXWNBCF.txt
		 files:EYTCGIOYWIW.txt


THE FOLDERS: c:\Users\Dinesh.LAPTOP-9QL743SB\Desktop\Py-jupyter notebook\unzipped\extracted_content\Four


		 files:ECIOBYCDVFI.txt
		 files:EMTGPSXQEJX.txt
		 files:EPRNUHRSESC.txt
		 files:ESDIZXHYCVY.txt
		 files:EXVQSVBQQQH.txt
		 files:QCTCKDIBBVG.txt
		 files:QCWCFLKNZMN.txt
		 files:QDDETWBHJYC.txt
		 files:QTDYYIFPHAU.txt
		 files:QVNJULGXNUM.txt
		 files:REAXWSOIQDY.txt
		 files:ROICPTWKXDX.txt
		 files:RSXOTNGKBML.txt
		 files:RXDARIDGKBF.txt
		 files:RYNXFYXMKHG.txt
		 files:TAKNAVDMZKV.txt
		 files:THPNEGKTJWI.txt
		 files:TJFMLJODVAD.txt
		 files:TKCZSFQNJTX.txt
		 files:TWUOYFCCYBQ.txt
		 files:WFSKPTXPFCH.txt
		 files:WHTOHQUWXIN.txt
		 files:WNJISWPEBRS.txt
		 files:WXDJDOGZEHN.txt
		 files:WYDLGSGGXKV.txt


THE FOLDERS: c:\Users\Dinesh.LAPTOP-9QL743SB\Desktop\Py-jupyter notebook\unzipped\extracted_content\One


		 files:HDOHZHFSTTK.txt
		 files:HFUTPPAXDIS.txt
		 files:HMNZTLIFGPD.txt
		 files:HRQFTHKVJTL.txt
		 files:HVUTZEVMSBW.txt
		 files:JDLRVFCXYLU.txt
		 files:JEHBLZPUPSP.txt
		 files:JLTXKIGCWDL.txt
		 files:JQUOBKFUACN.txt
		 files:JTHSNBNPQSE.txt
		 files:KCXGNQCZBLO.txt
		 files:KFIUZFERLET.txt
		 files:KMMLGJOWLGI.txt
		 files:KNBSKDREHQU.txt
		 files:KTXDHIOKAUI.txt
		 files:LDGOCUQJNNS.txt
		 files:LFEATJAAYDC.txt
		 files:LHODFIKVTQA.txt
		 files:LIFDHOFKWOI.txt
		 files:LPNDVDXPZIG.txt
		 files:PDJMSMNKIRM.txt
		 files:PHWAVPEKAER.txt
		 files:PLYCGPVEAWO.txt
		 files:PQNVCVJINAR.txt
		 files:PTOBBCJYURJ.txt


THE FOLDERS: c:\Users\Dinesh.LAPTOP-9QL743SB\Desktop\Py-jupyter notebook\unzipped\extracted_content\Three


		 files:VAQIJTDOFUJ.txt
		 files:VCFJCGJFBIH.txt
		 files:VSXFSTABZDY.txt
		 files:VVHFVZUNLOO.txt
		 files:VVKGWLRMHLU.txt
		 files:XAJMCPEWFNI.txt
		 files:XFHJOTNPEJG.txt
		 files:XHZPVUQTXIO.txt
		 files:XJCWENFFGHB.txt
		 files:XVMPVSVYKFR.txt
		 files:YCESZHJDBXH.txt
		 files:YDQFMWXOUMW.txt
		 files:YQBIUHSUEVW.txt
		 files:YQRNCMNFFHW.txt
		 files:YYIZGBTQHZP.txt
		 files:ZEZKKRBIZEB.txt
		 files:ZKQJXAYKPVD.txt
		 files:ZOWVXWPOGWP.txt
		 files:ZXEZRQXZNPG.txt
		 files:ZXIBJMPROKW.txt


THE FOLDERS: c:\Users\Dinesh.LAPTOP-9QL743SB\Desktop\Py-jupyter notebook\unzipped\extracted_content\Two


		 files:GKQBQRCTNNK.txt
		 files:GMMQQUBMJNR.txt
		 files:GQTJJORZBXY.txt
		 files:GTOTCIWMDBY.txt
		 files:GXYSEPAFRTP.txt
		 files:HARDNJGDRBC.txt
		 files:HEORIXOTANT.txt
		 files:HMUTDOVNYTV.txt
		 files:HMZXPBOPRAE.txt
		 files:HTOHSTYXTCO.txt
		 files:LCJZYDHBFRM.txt
		 files:LSQSTGPIGIY.txt
		 files:LULTNYAQEJG.txt
		 files:LVMBINRBJXL.txt
		 files:LYZEQCVYNEZ.txt
		 files:OHZOUOSFJQC.txt
		 files:OIHMLGMWTHL.txt
		 files:OKWFOOYTXFU.txt
		 files:OMWIMVRCMYM.txt
		 files:OYMAGXAGWHJ.txt
		 files:SIKFPPLCJDN.txt
		 files:SJMJLDGPBSJ.txt
		 files:SOFUJYXTIMK.txt
		 files:SPDZYGDHEWO.txt
		 files:SWOFXREEHWA.txt

In [374]:
import re
import os

In [375]:
pattern=r'\d\d\d-\d\d\d-\d\d\d\d'

In [376]:
text='hii , i m a LEAF NINJA from Hidden Leaf village 888-888-8888'

In [377]:
re.findall(pattern,text)

['888-888-8888']

In [378]:
def search(file,pattern=r'\d{3}-\d{3}-\d{4}'):
    f=open(file,'r')
    txt=f.read()
    if re.search(pattern,txt):
        return re.search(pattern,txt)
    else:
        return ''

In [379]:
result=[]

In [380]:
for folder,subfolder,files in os.walk(os.getcwd()+'\\unzipped\\extracted_content'):
    
    for f in files:
        full_path=folder+'\\'+f
        result.append(search(full_path))

In [381]:
result

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 <re.Match object; span=(1062, 1074), match='719-266-2837'>,
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [382]:
os.getcwd()

'c:\\Users\\Dinesh.LAPTOP-9QL743SB\\Desktop\\Py-jupyter notebook'

In [384]:
for f in result:
    if f!='':
        print(f.group())

719-266-2837